bacnet_example.json
[{"id":"eb4312c3.070a2","type":"tab","label":"BACnet Tests","disabled":false,"info":""},{"id":"409d08ad.ba8cf8","type":"BACnet-Command","z":"eb4312c3.070a2","name":"Who is?","commandType":"whoIs","timeDuration":0,"enableDisable":0,"deviceState":0,"isUtc":true,"lowLimit":"1","highLimit":"254","device":"f0bda4e4.fc5168","server":"82045734.73d548","x":440,"y":40,"wires":[["5e940f16.7cc4a"]]},{"id":"5e940f16.7cc4a","type":"debug","z":"eb4312c3.070a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":260,"wires":[]},{"id":"55a75a98.06fd14","type":"inject","z":"eb4312c3.070a2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":40,"wires":[["409d08ad.ba8cf8"]]},{"id":"5fb886a9.b7f4b8","type":"BACnet-Read","z":"eb4312c3.070a2","name":"Multiple Read","objectType":"8","instance":"94e4c1cd.2532","propertyId":"28","device":"f0bda4e4.fc5168","server":"82045734.73d548","multipleRead":true,"x":460,"y":280,"wires":[["5e940f16.7cc4a"]]},{"id":"779b04fb.9220ac","type":"inject","z":"eb4312c3.070a2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":280,"wires":[["5fb886a9.b7f4b8"]]},{"id":"33fd2a38.897ba6","type":"BACnet-Write","z":"eb4312c3.070a2","name":"","objectType":"1","instance":"94e4c1cd.2532","valueTag":"1","valueValue":"","propertyId":"28","device":"f0bda4e4.fc5168","server":"82045734.73d548","multipleWrite":true,"x":480,"y":420,"wires":[["5e940f16.7cc4a"]]},{"id":"2d6274d2.db8dcc","type":"inject","z":"eb4312c3.070a2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":420,"wires":[["ea2bfbbb.766fa8"]]},{"id":"8fc07323.2e849","type":"BACnet-Command","z":"eb4312c3.070a2","name":"Time sync","commandType":"timeSync","timeDuration":0,"enableDisable":0,"deviceState":0,"isUtc":false,"lowLimit":"1","highLimit":"254","device":"f0bda4e4.fc5168","server":"82045734.73d548","x":450,"y":100,"wires":[["5e940f16.7cc4a"]]},{"id":"50126067.b9aef","type":"inject","z":"eb4312c3.070a2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":100,"wires":[["8fc07323.2e849"]]},{"id":"484d2311.4b7a9c","type":"BACnet-Command","z":"eb4312c3.070a2","name":"Device warm start","commandType":"reinitializeDevice","timeDuration":0,"enableDisable":0,"deviceState":"1","isUtc":true,"lowLimit":"1","highLimit":"254","device":"f0bda4e4.fc5168","server":"82045734.73d548","x":470,"y":160,"wires":[["5e940f16.7cc4a"]]},{"id":"6c0f7ae9.345bc4","type":"inject","z":"eb4312c3.070a2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":160,"wires":[["484d2311.4b7a9c"]]},{"id":"a90c25e.9a826d8","type":"inject","z":"eb4312c3.070a2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":340,"wires":[["29fc840c.faaf7c"]]},{"id":"ad7e1198.15b6c","type":"BACnet-Write","z":"eb4312c3.070a2","name":"","objectType":"8","instance":"94e4c1cd.2532","valueTag":"1","valueValue":"true","propertyId":"28","device":"f0bda4e4.fc5168","server":"82045734.73d548","multipleWrite":false,"x":480,"y":480,"wires":[["5e940f16.7cc4a"]]},{"id":"8290d44b.7a17d8","type":"inject","z":"eb4312c3.070a2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":480,"wires":[["ad7e1198.15b6c"]]},{"id":"29fc840c.faaf7c","type":"BACnet-Read","z":"eb4312c3.070a2","name":"Simple Read","objectType":"ANALOG_INPUT","instance":"94e4c1cd.2532","propertyId":"28","device":"f0bda4e4.fc5168","server":"82045734.73d548","multipleRead":false,"x":450,"y":340,"wires":[["5e940f16.7cc4a"]]},{"id":"6f6e2988.94eab8","type":"BACnet-Command","z":"eb4312c3.070a2","name":"DCC disable 10 sec.","commandType":"deviceCommunicationControl","timeDuration":"10","enableDisable":"1","deviceState":"255","isUtc":true,"lowLimit":"1","highLimit":"254","device":"f0bda4e4.fc5168","server":"82045734.73d548","x":480,"y":220,"wires":[["5e940f16.7cc4a"]]},{"id":"58f5843d.75204c","type":"inject","z":"eb4312c3.070a2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":220,"wires":[["6f6e2988.94eab8"]]},{"id":"ea2bfbbb.766fa8","type":"function","z":"eb4312c3.070a2","name":"bacnet write msg","func":"msg.payload = {\n    // deviceIPAddress: '127.0.0.1'\n    values: [\n        {\n            // objectId: {type: 8, instance: 44301}, \n            values: [\n                {property: {id: 28, index: 12}, value: [{type: 1, value: true}], priority: 8}\n            ]\n        }\n    ]\n}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":420,"wires":[["33fd2a38.897ba6"]]},{"id":"f0bda4e4.fc5168","type":"BACnet-Device","z":"","name":"Windows VM","deviceAddress":"192.168.1.19"},{"id":"82045734.73d548","type":"BACnet-Client","z":"eb4312c3.070a2","name":"Local BACnet","adpuTimeout":"3000","port":"47808","interface":"192.168.1.19","broadcastAddress":"255.255.255.0"},{"id":"94e4c1cd.2532","type":"BACnet-Instance","z":"","name":"Room Simulator YABE","instanceAddress":"65536"}]