bacnet_simple.json
[{"id":"5c53fd76.570b04","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"3e366bf7.218f64","type":"BACnet-Command","z":"5c53fd76.570b04","name":"TestBacnet","commandType":"whoIs","timeDuration":0,"enableDisable":0,"deviceState":0,"isUtc":true,"lowLimit":0,"highLimit":0,"device":"4e70c51b.0ca24c","server":"e3b4125b.443a4","x":340,"y":320,"wires":[["990bcf6c.8bab4"]]},{"id":"de510014.f3356","type":"inject","z":"5c53fd76.570b04","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":320,"wires":[["3e366bf7.218f64"]]},{"id":"990bcf6c.8bab4","type":"debug","z":"5c53fd76.570b04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":320,"wires":[]},{"id":"4e70c51b.0ca24c","type":"BACnet-Device","z":"","name":"EIO","deviceAddress":"192.168.1.19"},{"id":"e3b4125b.443a4","type":"BACnet-Client","z":"","name":"Test","adpuTimeout":"","port":"47808","interface":"192.168.1.19","broadcastAddress":"255.255.255.0"}]