modbus_tcp_read_temp.json
[{"id":"dd564183.f07d1","type":"tab","label":"MyFlow","disabled":false,"info":""},{"id":"7c6583f0.8042ac","type":"inject","z":"dd564183.f07d1","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["95ff997f.19b948"]]},{"id":"95ff997f.19b948","type":"function","z":"dd564183.f07d1","name":"","func":"msg.payload = { \n    'fc': 3,\n    'unitid': 254,\n    'address': 116 ,\n    'quantity': 2\n    };\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":140,"wires":[["56848b7e.e74574"]]},{"id":"56848b7e.e74574","type":"modbus-flex-getter","z":"dd564183.f07d1","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"56cdd3ae.c4276c","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":470,"y":160,"wires":[[],["6a28b269.aca6ec"]]},{"id":"8277197.afdcfe8","type":"debug","z":"dd564183.f07d1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":180,"wires":[]},{"id":"6a28b269.aca6ec","type":"function","z":"dd564183.f07d1","name":"","func":"msg.payload = (msg.values[1] / 100)\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":180,"wires":[["8277197.afdcfe8"]]},{"id":"56cdd3ae.c4276c","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.1.19","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":10,"clientTimeout":2000,"reconnectOnTimeout":false,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true}]