modbus_tcp_read_write_digital.json
[{"id":"5e1234d3.12dccc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"54a50895.c96b98","type":"inject","z":"5e1234d3.12dccc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":240,"wires":[["3b58ee60.505612"]]},{"id":"3b58ee60.505612","type":"function","z":"5e1234d3.12dccc","name":"Read_Val","func":"msg.payload = {\n    'fc' : 3,\n    'unitid' : 254,\n    'address' : 108,\n    'quantity' : 1\n};\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":240,"wires":[["ab939d89.3105c"]]},{"id":"ab939d89.3105c","type":"modbus-flex-getter","z":"5e1234d3.12dccc","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"40383b17.a6d964","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":490,"y":240,"wires":[["1b4a3517.e6d2db"],[]]},{"id":"1b4a3517.e6d2db","type":"debug","z":"5e1234d3.12dccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":240,"wires":[]},{"id":"3b704918.180376","type":"inject","z":"5e1234d3.12dccc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":400,"wires":[["7939d6b2.8e3b68"]]},{"id":"7939d6b2.8e3b68","type":"function","z":"5e1234d3.12dccc","name":"On","func":"msg.payload = {\n    'value' : 1,\n    'fc' : 6,\n    'unitid' : 254,\n    'address' : 108,\n    'quantity' : 1\n};\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":400,"wires":[["4effb122.e0c3"]]},{"id":"3fa160fc.921b6","type":"function","z":"5e1234d3.12dccc","name":"Off","func":"msg.payload = {\n    'value' : 0,\n    'fc' : 6,\n    'unitid' : 254,\n    'address' : 108,\n    'quantity' : 1\n};\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":440,"wires":[["4effb122.e0c3"]]},{"id":"e0495f4d.c34b2","type":"inject","z":"5e1234d3.12dccc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":440,"wires":[["3fa160fc.921b6"]]},{"id":"4effb122.e0c3","type":"modbus-flex-write","z":"5e1234d3.12dccc","name":"","showStatusActivities":false,"showErrors":false,"server":"40383b17.a6d964","x":490,"y":420,"wires":[["4d1eedc8.038ad4"],[]]},{"id":"4d1eedc8.038ad4","type":"debug","z":"5e1234d3.12dccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":420,"wires":[]},{"id":"523934a4.5e9a0c","type":"comment","z":"5e1234d3.12dccc","name":"Read Digital I/O","info":"","x":160,"y":180,"wires":[]},{"id":"f6fa35d3.c4cc28","type":"comment","z":"5e1234d3.12dccc","name":"Write Digital I/O","info":"","x":160,"y":340,"wires":[]},{"id":"40383b17.a6d964","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.1.19","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":2000,"reconnectOnTimeout":false,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true}]