modbus_gui_12.json
[{"id":"3d6e2e74.2e2b42","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e302face.837248","type":"inject","z":"3d6e2e74.2e2b42","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"0.1","x":150,"y":120,"wires":[["73d2ab0f.dede04","313a69ee.c6d0f6"]]},{"id":"73d2ab0f.dede04","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"var room1_temp_reg = flow.get(\"room1_temp_reg\");\nmsg.payload = { \n    'fc': 3,\n    'unitid': 254,\n    'address': room1_temp_reg ,\n    'quantity': 1\n    };\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":120,"wires":[["3e87835d.70ae4c"]]},{"id":"3e87835d.70ae4c","type":"modbus-flex-getter","z":"3d6e2e74.2e2b42","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"adf4b4e6.55ca88","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":490,"y":120,"wires":[["109828f0.bdf657"],[]]},{"id":"81c68199.a5585","type":"ui_chart","z":"3d6e2e74.2e2b42","name":"","group":"44ca6ba9.5ca844","order":3,"width":5,"height":3,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"42","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":830,"y":180,"wires":[[]]},{"id":"6dd249a5.b85778","type":"inject","z":"3d6e2e74.2e2b42","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"0.1","x":150,"y":300,"wires":[["e1256d12.a0c0e"]]},{"id":"24367dd.ad70782","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"var room2_temp_reg = flow.get(\"room2_temp_reg\");\nmsg.payload = { \n    'fc': 3,\n    'unitid': 254,\n    'address': room2_temp_reg ,\n    'quantity': 1\n    };\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":340,"wires":[["4f1b26ec.26b238"]]},{"id":"4f1b26ec.26b238","type":"modbus-flex-getter","z":"3d6e2e74.2e2b42","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"adf4b4e6.55ca88","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":710,"y":340,"wires":[["f67e6435.404bd8"],[]]},{"id":"529215ea.2370fc","type":"ui_chart","z":"3d6e2e74.2e2b42","name":"","group":"d63a307e.32fd4","order":3,"width":5,"height":3,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1030,"y":280,"wires":[[]]},{"id":"7322ecdd.e47f24","type":"inject","z":"3d6e2e74.2e2b42","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"0.1","x":150,"y":520,"wires":[["950ebff0.d316f"]]},{"id":"449dd8cb.15c498","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"var room3_temp_reg = flow.get(\"room3_temp_reg\");\nmsg.payload = { \n    'fc': 3,\n    'unitid': 254,\n    'address': room3_temp_reg ,\n    'quantity': 1\n    };\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":560,"wires":[["7abb829a.8e9efc"]]},{"id":"7abb829a.8e9efc","type":"modbus-flex-getter","z":"3d6e2e74.2e2b42","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"adf4b4e6.55ca88","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":710,"y":560,"wires":[["65576c52.383154"],[]]},{"id":"3e3e7e00.f23832","type":"ui_chart","z":"3d6e2e74.2e2b42","name":"","group":"cfff10ba.4e053","order":3,"width":5,"height":3,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1030,"y":500,"wires":[[]]},{"id":"2b3cb2e0.479b5e","type":"inject","z":"3d6e2e74.2e2b42","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"0.1","x":150,"y":740,"wires":[["148c4751.a01559"]]},{"id":"25b59262.48f2ce","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"var room4_temp_reg = flow.get(\"room4_temp_reg\");\nmsg.payload = { \n    'fc': 3,\n    'unitid': 254,\n    'address': room4_temp_reg ,\n    'quantity': 1\n    };\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":780,"wires":[["b3e6917b.2b868"]]},{"id":"b3e6917b.2b868","type":"modbus-flex-getter","z":"3d6e2e74.2e2b42","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"adf4b4e6.55ca88","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":710,"y":780,"wires":[["bfbbf618.d863b8"],[]]},{"id":"d5bbf37.049291","type":"ui_chart","z":"3d6e2e74.2e2b42","name":"","group":"78fa92c3.06830c","order":3,"width":5,"height":3,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1030,"y":720,"wires":[[]]},{"id":"31b0831e.ea338c","type":"inject","z":"3d6e2e74.2e2b42","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"0.1","x":130,"y":960,"wires":[["2e7d0542.cb367a"]]},{"id":"88f22368.a9105","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"var room5_temp_reg = flow.get(\"room5_temp_reg\");\nmsg.payload = { \n    'fc': 3,\n    'unitid': 254,\n    'address': room5_temp_reg ,\n    'quantity': 1\n    };\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1000,"wires":[["c369f6f4.92aa08"]]},{"id":"c369f6f4.92aa08","type":"modbus-flex-getter","z":"3d6e2e74.2e2b42","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"adf4b4e6.55ca88","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":690,"y":1000,"wires":[["6e2c501f.7aecf"],[]]},{"id":"a0caddd7.01908","type":"ui_chart","z":"3d6e2e74.2e2b42","name":"","group":"84064e66.8328b","order":3,"width":5,"height":3,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1010,"y":940,"wires":[[]]},{"id":"6172d006.4222e","type":"inject","z":"3d6e2e74.2e2b42","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"0.1","x":130,"y":1180,"wires":[["e004c90b.5d82d8"]]},{"id":"13af95a5.1c41ca","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"var room6_temp_reg = flow.get(\"room6_temp_reg\");\nmsg.payload = { \n    'fc': 3,\n    'unitid': 254,\n    'address': room6_temp_reg ,\n    'quantity': 1\n    };\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1220,"wires":[["99cee5.88ca8118"]]},{"id":"99cee5.88ca8118","type":"modbus-flex-getter","z":"3d6e2e74.2e2b42","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"adf4b4e6.55ca88","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":690,"y":1220,"wires":[["842d949b.b2d378"],[]]},{"id":"ab911771.a2fa38","type":"ui_chart","z":"3d6e2e74.2e2b42","name":"","group":"a8c5fca8.c9f6a","order":3,"width":5,"height":3,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"42","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1010,"y":1160,"wires":[[]]},{"id":"6fc3978a.2673c8","type":"comment","z":"3d6e2e74.2e2b42","name":"Room1","info":"","x":110,"y":60,"wires":[]},{"id":"9ecafcb5.9171f","type":"comment","z":"3d6e2e74.2e2b42","name":"Room2","info":"","x":110,"y":240,"wires":[]},{"id":"e0f6ae24.1e84c","type":"comment","z":"3d6e2e74.2e2b42","name":"Room3","info":"","x":110,"y":460,"wires":[]},{"id":"bd62b787.0051a8","type":"comment","z":"3d6e2e74.2e2b42","name":"Room4","info":"","x":110,"y":680,"wires":[]},{"id":"40ca963b.7c7858","type":"comment","z":"3d6e2e74.2e2b42","name":"Room5","info":"","x":90,"y":900,"wires":[]},{"id":"87d228f5.6d1ce8","type":"comment","z":"3d6e2e74.2e2b42","name":"Room6","info":"","x":90,"y":1120,"wires":[]},{"id":"f8e65680.042fd8","type":"ui_text_input","z":"3d6e2e74.2e2b42","name":"","label":"Number of Rooms","tooltip":"","group":"fead33a4.de811","order":1,"width":4,"height":2,"passthru":true,"mode":"number","delay":300,"topic":"","x":370,"y":1500,"wires":[["253f7cb4.f13bb4"]]},{"id":"253f7cb4.f13bb4","type":"function","z":"3d6e2e74.2e2b42","name":"save_no_rooms","func":"flow.set(\"number_rooms\", msg.payload)","outputs":1,"noerr":0,"x":600,"y":1500,"wires":[[]]},{"id":"82dbd6be.824948","type":"inject","z":"3d6e2e74.2e2b42","name":"","topic":"","payload":"number_rooms","payloadType":"flow","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":1500,"wires":[["f8e65680.042fd8"]]},{"id":"bec25a32.8e8578","type":"ui_text_input","z":"3d6e2e74.2e2b42","name":"","label":"Name","tooltip":"","group":"384d0add.1390a6","order":1,"width":4,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"","x":810,"y":1640,"wires":[["93da035f.f349e"]]},{"id":"93da035f.f349e","type":"function","z":"3d6e2e74.2e2b42","name":"save_room1_name","func":"flow.set(\"room1_name\", msg.payload)","outputs":1,"noerr":0,"x":1050,"y":1640,"wires":[[]]},{"id":"541c0cf2.b46a54","type":"inject","z":"3d6e2e74.2e2b42","name":"","topic":"","payload":"room1_name","payloadType":"flow","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":1600,"wires":[["221ee35f.e3e66c"]]},{"id":"313a69ee.c6d0f6","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"var room1name = flow.get(\"room1_name\");\nmsg.payload = room1name;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":80,"wires":[["e947f114.49e85","77d587ea.610aa8"]]},{"id":"69a37c19.a0b3b4","type":"ui_ui_control","z":"3d6e2e74.2e2b42","name":"","events":"all","x":660,"y":1140,"wires":[[]]},{"id":"1f2c5090.4ba5ff","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload={\"group\":{\"show\":[\"HomeControl_Room6\"]}}\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1180,"wires":[["77b33c3a.5a9394"]]},{"id":"b1f6afc.15dae5","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload={\"group\":{\"hide\":[\"HomeControl_Room6\"]}}\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1140,"wires":[["69a37c19.a0b3b4"]]},{"id":"6e8552f5.fe3fdc","type":"switch","z":"3d6e2e74.2e2b42","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"6","vt":"num"},{"t":"gte","v":"6","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":1180,"wires":[["b1f6afc.15dae5"],["13af95a5.1c41ca","1f2c5090.4ba5ff","af5e73e6.d8a66"]]},{"id":"e004c90b.5d82d8","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload = flow.get(\"number_rooms\");\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":1180,"wires":[["6e8552f5.fe3fdc"]]},{"id":"2e7d0542.cb367a","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload = flow.get(\"number_rooms\");\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":960,"wires":[["9f310ea2.f21aa"]]},{"id":"9f310ea2.f21aa","type":"switch","z":"3d6e2e74.2e2b42","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"5","vt":"num"},{"t":"gte","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":960,"wires":[["b7ae960e.0ddc38"],["88f22368.a9105","d9f48de2.fc0dc","9ab3a50.4ca3958"]]},{"id":"b7ae960e.0ddc38","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload={\"group\":{\"hide\":[\"HomeControl_Room5\"]}}\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":920,"wires":[["6522c417.8caefc"]]},{"id":"d9f48de2.fc0dc","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload={\"group\":{\"show\":[\"HomeControl_Room5\"]}}\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":960,"wires":[["2b05591.ac4c8a6"]]},{"id":"6522c417.8caefc","type":"ui_ui_control","z":"3d6e2e74.2e2b42","name":"","events":"all","x":660,"y":920,"wires":[[]]},{"id":"148c4751.a01559","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload = flow.get(\"number_rooms\");\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":740,"wires":[["53e1ee45.4ac9b"]]},{"id":"53e1ee45.4ac9b","type":"switch","z":"3d6e2e74.2e2b42","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"4","vt":"num"},{"t":"gte","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":740,"wires":[["b9f01ffd.813a7"],["25b59262.48f2ce","f4f2603d.d2d6e","55b165cd.ae10ac"]]},{"id":"b9f01ffd.813a7","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload={\"group\":{\"hide\":[\"HomeControl_Room4\"]}}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":700,"wires":[["99c8fba9.fb7ca8"]]},{"id":"f4f2603d.d2d6e","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload={\"group\":{\"show\":[\"HomeControl_Room4\"]}}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":740,"wires":[["69ea7f68.e01b7"]]},{"id":"99c8fba9.fb7ca8","type":"ui_ui_control","z":"3d6e2e74.2e2b42","name":"","events":"all","x":680,"y":700,"wires":[[]]},{"id":"950ebff0.d316f","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload = flow.get(\"number_rooms\");\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":520,"wires":[["ac4e20c.fa7b3e"]]},{"id":"ac4e20c.fa7b3e","type":"switch","z":"3d6e2e74.2e2b42","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"3","vt":"num"},{"t":"gte","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":520,"wires":[["ae08ba63.d74838"],["449dd8cb.15c498","66f75d85.0fb7e4","7bb16ff8.a1941"]]},{"id":"ae08ba63.d74838","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload={\"group\":{\"hide\":[\"HomeControl_Room3\"]}}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":480,"wires":[["e92f78d.cc55188"]]},{"id":"66f75d85.0fb7e4","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload={\"group\":{\"show\":[\"HomeControl_Room3\"]}}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":520,"wires":[["a30d31e4.a907"]]},{"id":"e92f78d.cc55188","type":"ui_ui_control","z":"3d6e2e74.2e2b42","name":"","events":"all","x":680,"y":480,"wires":[[]]},{"id":"e1256d12.a0c0e","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload = flow.get(\"number_rooms\");\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":300,"wires":[["aff95880.ed7298"]]},{"id":"aff95880.ed7298","type":"switch","z":"3d6e2e74.2e2b42","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"1","vt":"num"},{"t":"gte","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":300,"wires":[["3b49caeb.f066a6"],["24367dd.ad70782","654c03e4.946bac","c881b2bf.563b"]]},{"id":"3b49caeb.f066a6","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload={\"group\":{\"hide\":[\"HomeControl_Room2\"]}}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":260,"wires":[["f6da2151.c8b46"]]},{"id":"654c03e4.946bac","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload={\"group\":{\"show\":[\"HomeControl_Room2\"]}}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":300,"wires":[["7ec222b9.ee526c"]]},{"id":"f6da2151.c8b46","type":"ui_ui_control","z":"3d6e2e74.2e2b42","name":"","events":"all","x":680,"y":260,"wires":[[]]},{"id":"f25322c3.983fe","type":"ui_text_input","z":"3d6e2e74.2e2b42","name":"","label":"Name","tooltip":"","group":"405d830e.3b548c","order":1,"width":4,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"","x":810,"y":1840,"wires":[["fb4411ff.9edc1"]]},{"id":"fb4411ff.9edc1","type":"function","z":"3d6e2e74.2e2b42","name":"save_room2_name","func":"flow.set(\"room2_name\", msg.payload)","outputs":1,"noerr":0,"x":1050,"y":1840,"wires":[[]]},{"id":"30778e73.90fc62","type":"inject","z":"3d6e2e74.2e2b42","name":"","topic":"","payload":"room2_name","payloadType":"flow","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":1800,"wires":[["d6e6781b.15de38"]]},{"id":"c025a416.6c9668","type":"ui_text_input","z":"3d6e2e74.2e2b42","name":"","label":"Name","tooltip":"","group":"6bb38027.dab85","order":1,"width":4,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"","x":810,"y":2040,"wires":[["cce35e79.9534a"]]},{"id":"cce35e79.9534a","type":"function","z":"3d6e2e74.2e2b42","name":"save_room3_name","func":"flow.set(\"room3_name\", msg.payload)","outputs":1,"noerr":0,"x":1050,"y":2040,"wires":[[]]},{"id":"10c50a38.f726f6","type":"inject","z":"3d6e2e74.2e2b42","name":"","topic":"","payload":"room3_name","payloadType":"flow","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":2000,"wires":[["eb4969ba.bff6b8"]]},{"id":"9c613480.f1bc68","type":"ui_text_input","z":"3d6e2e74.2e2b42","name":"","label":"Name","tooltip":"","group":"c3c87bd0.8911a8","order":1,"width":4,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"","x":810,"y":2240,"wires":[["7f2515e7.83b53c"]]},{"id":"7f2515e7.83b53c","type":"function","z":"3d6e2e74.2e2b42","name":"save_room4_name","func":"flow.set(\"room4_name\", msg.payload)","outputs":1,"noerr":0,"x":1050,"y":2240,"wires":[[]]},{"id":"a4ebe68b.279218","type":"inject","z":"3d6e2e74.2e2b42","name":"","topic":"","payload":"room4_name","payloadType":"flow","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":2200,"wires":[["4d1e7951.88f148"]]},{"id":"33b3f863.0d0668","type":"ui_text_input","z":"3d6e2e74.2e2b42","name":"","label":"Name","tooltip":"","group":"d15406f2.8dfe08","order":1,"width":4,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"","x":810,"y":2440,"wires":[["a50c5a65.0311f8"]]},{"id":"a50c5a65.0311f8","type":"function","z":"3d6e2e74.2e2b42","name":"save_room5_name","func":"flow.set(\"room5_name\", msg.payload)","outputs":1,"noerr":0,"x":1050,"y":2440,"wires":[[]]},{"id":"8ecc2c31.58be5","type":"inject","z":"3d6e2e74.2e2b42","name":"","topic":"","payload":"room5_name","payloadType":"flow","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":2400,"wires":[["acd7718a.29eb3"]]},{"id":"ecaf098e.f22528","type":"ui_text_input","z":"3d6e2e74.2e2b42","name":"","label":"Name","tooltip":"","group":"51e02687.a6c588","order":1,"width":4,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"","x":810,"y":2640,"wires":[["9f0ff7fb.3ab698"]]},{"id":"9f0ff7fb.3ab698","type":"function","z":"3d6e2e74.2e2b42","name":"save_room6_name","func":"flow.set(\"room6_name\", msg.payload)","outputs":1,"noerr":0,"x":1050,"y":2640,"wires":[[]]},{"id":"129250c3.529c2f","type":"inject","z":"3d6e2e74.2e2b42","name":"","topic":"","payload":"room6_name","payloadType":"flow","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":2600,"wires":[["dbbafce9.bbc75"]]},{"id":"221ee35f.e3e66c","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload = flow.get(\"number_rooms\");\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1600,"wires":[["6c9d56b8.b75d78"]]},{"id":"6c9d56b8.b75d78","type":"switch","z":"3d6e2e74.2e2b42","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"1","vt":"num"},{"t":"gte","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":1600,"wires":[["64bb3e53.a092"],["21a4e8df.2d4fd8","76184fa2.64926","fcbb9176.5866a"]]},{"id":"21a4e8df.2d4fd8","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload={\"group\":{\"show\":[\"Configuration_Room-1\"]}}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1600,"wires":[["2fe931cf.db8cee"]]},{"id":"64bb3e53.a092","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload={\"group\":{\"hide\":[\"Configuration_Room-1\"]}}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1560,"wires":[["bf2b49f4.aa5088"]]},{"id":"bf2b49f4.aa5088","type":"ui_ui_control","z":"3d6e2e74.2e2b42","name":"","events":"all","x":820,"y":1560,"wires":[[]]},{"id":"d6e6781b.15de38","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload = flow.get(\"number_rooms\");\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1800,"wires":[["1bb3dae5.e20bd5"]]},{"id":"1bb3dae5.e20bd5","type":"switch","z":"3d6e2e74.2e2b42","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"2","vt":"num"},{"t":"gte","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":1800,"wires":[["76c90f4a.bd0be"],["c863560a.a4c158","f9557040.2cec","258d2ab2.7fa486"]]},{"id":"c863560a.a4c158","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload={\"group\":{\"show\":[\"Configuration_Room-2\"]}}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1800,"wires":[["7d624e6.a3197b"]]},{"id":"76c90f4a.bd0be","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload={\"group\":{\"hide\":[\"Configuration_Room-2\"]}}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1760,"wires":[["40d5ddfd.bee204"]]},{"id":"40d5ddfd.bee204","type":"ui_ui_control","z":"3d6e2e74.2e2b42","name":"","events":"all","x":820,"y":1760,"wires":[[]]},{"id":"eb4969ba.bff6b8","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload = flow.get(\"number_rooms\");\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":2000,"wires":[["44909bde.d46434"]]},{"id":"44909bde.d46434","type":"switch","z":"3d6e2e74.2e2b42","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"3","vt":"num"},{"t":"gte","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":2000,"wires":[["af399a46.38e168"],["c95d4acd.408158","6536fdd5.91d454","362e82d4.ad1dce"]]},{"id":"c95d4acd.408158","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload={\"group\":{\"show\":[\"Configuration_Room-3\"]}}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":2000,"wires":[["f418cb09.07bef8"]]},{"id":"af399a46.38e168","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload={\"group\":{\"hide\":[\"Configuration_Room-3\"]}}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1960,"wires":[["4a4c9659.069ef8"]]},{"id":"4a4c9659.069ef8","type":"ui_ui_control","z":"3d6e2e74.2e2b42","name":"","events":"all","x":820,"y":1960,"wires":[[]]},{"id":"4d1e7951.88f148","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload = flow.get(\"number_rooms\");\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":2200,"wires":[["8bc67d19.9d5cd"]]},{"id":"8bc67d19.9d5cd","type":"switch","z":"3d6e2e74.2e2b42","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"4","vt":"num"},{"t":"gte","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":2200,"wires":[["9d409285.983df"],["541c3f26.3494","9aab560d.f68008","2bb98da2.e55d02"]]},{"id":"541c3f26.3494","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload={\"group\":{\"show\":[\"Configuration_Room-4\"]}}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":2200,"wires":[["a0f7dea6.d1994"]]},{"id":"9d409285.983df","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload={\"group\":{\"hide\":[\"Configuration_Room-4\"]}}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":2160,"wires":[["f57cb678.4b81e8"]]},{"id":"f57cb678.4b81e8","type":"ui_ui_control","z":"3d6e2e74.2e2b42","name":"","events":"all","x":820,"y":2160,"wires":[[]]},{"id":"acd7718a.29eb3","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload = flow.get(\"number_rooms\");\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":2400,"wires":[["2f4f98ee.999828"]]},{"id":"2f4f98ee.999828","type":"switch","z":"3d6e2e74.2e2b42","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"5","vt":"num"},{"t":"gte","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":2400,"wires":[["bdb3ddd0.296"],["750fe1ed.b982b","ad0d62a5.745fc","d58bbad1.865228"]]},{"id":"750fe1ed.b982b","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload={\"group\":{\"show\":[\"Configuration_Room-5\"]}}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":2400,"wires":[["d8309b19.e71938"]]},{"id":"bdb3ddd0.296","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload={\"group\":{\"hide\":[\"Configuration_Room-5\"]}}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":2360,"wires":[["12c2b7b5.eb1d08"]]},{"id":"12c2b7b5.eb1d08","type":"ui_ui_control","z":"3d6e2e74.2e2b42","name":"","events":"all","x":820,"y":2360,"wires":[[]]},{"id":"dbbafce9.bbc75","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload = flow.get(\"number_rooms\");\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":2600,"wires":[["7aa22b68.396734"]]},{"id":"7aa22b68.396734","type":"switch","z":"3d6e2e74.2e2b42","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"6","vt":"num"},{"t":"gte","v":"6","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":2600,"wires":[["c5f166e0.48bdb8"],["cf5440dc.ca3b4","3be57419.4ad11c","4244abb4.9c2cd4"]]},{"id":"cf5440dc.ca3b4","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload={\"group\":{\"show\":[\"Configuration_Room-6\"]}}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":2600,"wires":[["4f3e3c70.a34cc4"]]},{"id":"c5f166e0.48bdb8","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload={\"group\":{\"hide\":[\"Configuration_Room-6\"]}}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":2560,"wires":[["d9d880f.63b918"]]},{"id":"d9d880f.63b918","type":"ui_ui_control","z":"3d6e2e74.2e2b42","name":"","events":"all","x":820,"y":2560,"wires":[[]]},{"id":"2fe931cf.db8cee","type":"ui_ui_control","z":"3d6e2e74.2e2b42","name":"","events":"all","x":820,"y":1600,"wires":[[]]},{"id":"7ec222b9.ee526c","type":"ui_ui_control","z":"3d6e2e74.2e2b42","name":"","events":"all","x":680,"y":300,"wires":[[]]},{"id":"a30d31e4.a907","type":"ui_ui_control","z":"3d6e2e74.2e2b42","name":"","events":"all","x":680,"y":520,"wires":[[]]},{"id":"69ea7f68.e01b7","type":"ui_ui_control","z":"3d6e2e74.2e2b42","name":"","events":"all","x":680,"y":740,"wires":[[]]},{"id":"2b05591.ac4c8a6","type":"ui_ui_control","z":"3d6e2e74.2e2b42","name":"","events":"all","x":660,"y":960,"wires":[[]]},{"id":"77b33c3a.5a9394","type":"ui_ui_control","z":"3d6e2e74.2e2b42","name":"","events":"all","x":660,"y":1180,"wires":[[]]},{"id":"7d624e6.a3197b","type":"ui_ui_control","z":"3d6e2e74.2e2b42","name":"","events":"all","x":820,"y":1800,"wires":[[]]},{"id":"f418cb09.07bef8","type":"ui_ui_control","z":"3d6e2e74.2e2b42","name":"","events":"all","x":820,"y":2000,"wires":[[]]},{"id":"a0f7dea6.d1994","type":"ui_ui_control","z":"3d6e2e74.2e2b42","name":"","events":"all","x":820,"y":2200,"wires":[[]]},{"id":"d8309b19.e71938","type":"ui_ui_control","z":"3d6e2e74.2e2b42","name":"","events":"all","x":820,"y":2400,"wires":[[]]},{"id":"4f3e3c70.a34cc4","type":"ui_ui_control","z":"3d6e2e74.2e2b42","name":"","events":"all","x":820,"y":2600,"wires":[[]]},{"id":"c881b2bf.563b","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"var room2name = flow.get(\"room2_name\");\nmsg.payload = room2name;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":380,"wires":[["23fd3454.d8189c","a8a0b29.25daf5"]]},{"id":"7bb16ff8.a1941","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"var room3name = flow.get(\"room3_name\");\nmsg.payload = room3name;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":600,"wires":[["d51c4453.12e598","710e275f.6e55e8"]]},{"id":"55b165cd.ae10ac","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"var room4name = flow.get(\"room4_name\");\nmsg.payload = room4name;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":820,"wires":[["c2b88be4.35e558","81ee7732.620588"]]},{"id":"9ab3a50.4ca3958","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"var room5name = flow.get(\"room5_name\");\nmsg.payload = room5name;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1040,"wires":[["d2e5783e.7f6c88","72e2e104.92af9"]]},{"id":"af5e73e6.d8a66","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"var room6name = flow.get(\"room6_name\");\nmsg.payload = room6name;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1260,"wires":[["feb2e2e2.68907","4cddeb80.552bb4"]]},{"id":"76184fa2.64926","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"var room1name = flow.get(\"room1_name\");\nmsg.payload = room1name;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1640,"wires":[["bec25a32.8e8578"]]},{"id":"f9557040.2cec","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"var room2name = flow.get(\"room2_name\");\nmsg.payload = room2name;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1840,"wires":[["f25322c3.983fe"]]},{"id":"6536fdd5.91d454","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"var room3name = flow.get(\"room3_name\");\nmsg.payload = room3name;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":2040,"wires":[["c025a416.6c9668"]]},{"id":"9aab560d.f68008","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"var room4name = flow.get(\"room4_name\");\nmsg.payload = room4name;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":2240,"wires":[["9c613480.f1bc68"]]},{"id":"ad0d62a5.745fc","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"var room5name = flow.get(\"room5_name\");\nmsg.payload = room5name;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":2440,"wires":[["33b3f863.0d0668"]]},{"id":"3be57419.4ad11c","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"var room6name = flow.get(\"room6_name\");\nmsg.payload = room6name;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":2640,"wires":[["ecaf098e.f22528"]]},{"id":"34e66f44.e77e9","type":"ui_text_input","z":"3d6e2e74.2e2b42","name":"","label":"Temp Register","tooltip":"","group":"384d0add.1390a6","order":2,"width":4,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"","x":840,"y":1680,"wires":[["73774cf9.752904"]]},{"id":"73774cf9.752904","type":"function","z":"3d6e2e74.2e2b42","name":"save_room1_temp_reg","func":"flow.set(\"room1_temp_reg\", msg.payload)","outputs":1,"noerr":0,"x":1070,"y":1680,"wires":[[]]},{"id":"fcbb9176.5866a","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"var room1_temp_reg = flow.get(\"room1_temp_reg\");\nmsg.payload = room1_temp_reg;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1680,"wires":[["34e66f44.e77e9"]]},{"id":"d393bcb8.eaba1","type":"ui_text_input","z":"3d6e2e74.2e2b42","name":"","label":"Temp Register","tooltip":"","group":"405d830e.3b548c","order":2,"width":4,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"","x":840,"y":1880,"wires":[["e932618c.4b856"]]},{"id":"e932618c.4b856","type":"function","z":"3d6e2e74.2e2b42","name":"save_room2_temp_reg","func":"flow.set(\"room2_temp_reg\", msg.payload)","outputs":1,"noerr":0,"x":1070,"y":1880,"wires":[[]]},{"id":"258d2ab2.7fa486","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"var room2_temp_reg = flow.get(\"room2_temp_reg\");\nmsg.payload = room2_temp_reg;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1880,"wires":[["d393bcb8.eaba1"]]},{"id":"ce0b3dc2.4a0c6","type":"ui_text_input","z":"3d6e2e74.2e2b42","name":"","label":"Temp Register","tooltip":"","group":"6bb38027.dab85","order":2,"width":4,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"","x":840,"y":2080,"wires":[["91d436f5.12d4a8"]]},{"id":"91d436f5.12d4a8","type":"function","z":"3d6e2e74.2e2b42","name":"save_room3_temp_reg","func":"flow.set(\"room3_temp_reg\", msg.payload)","outputs":1,"noerr":0,"x":1070,"y":2080,"wires":[[]]},{"id":"362e82d4.ad1dce","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"var room3_temp_reg = flow.get(\"room3_temp_reg\");\nmsg.payload = room3_temp_reg;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":2080,"wires":[["ce0b3dc2.4a0c6"]]},{"id":"ba67b03b.80482","type":"ui_text_input","z":"3d6e2e74.2e2b42","name":"","label":"Temp Register","tooltip":"","group":"c3c87bd0.8911a8","order":2,"width":4,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"","x":840,"y":2280,"wires":[["40d6cb99.fea824"]]},{"id":"40d6cb99.fea824","type":"function","z":"3d6e2e74.2e2b42","name":"save_room4_temp_reg","func":"flow.set(\"room4_temp_reg\", msg.payload)","outputs":1,"noerr":0,"x":1070,"y":2280,"wires":[[]]},{"id":"2bb98da2.e55d02","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"var room4_temp_reg = flow.get(\"room4_temp_reg\");\nmsg.payload = room4_temp_reg;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":2280,"wires":[["ba67b03b.80482"]]},{"id":"a4f8179f.89d018","type":"ui_text_input","z":"3d6e2e74.2e2b42","name":"","label":"Temp Register","tooltip":"","group":"d15406f2.8dfe08","order":2,"width":4,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"","x":840,"y":2480,"wires":[["19de1d2e.25a313"]]},{"id":"19de1d2e.25a313","type":"function","z":"3d6e2e74.2e2b42","name":"save_room5_temp_reg","func":"flow.set(\"room5_temp_reg\", msg.payload)","outputs":1,"noerr":0,"x":1070,"y":2480,"wires":[[]]},{"id":"d58bbad1.865228","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"var room5_temp_reg = flow.get(\"room5_temp_reg\");\nmsg.payload = room5_temp_reg;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":2480,"wires":[["a4f8179f.89d018"]]},{"id":"db98e02f.beaab","type":"ui_text_input","z":"3d6e2e74.2e2b42","name":"","label":"Temp Register","tooltip":"","group":"51e02687.a6c588","order":2,"width":4,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"","x":840,"y":2680,"wires":[["40333e9d.00937"]]},{"id":"40333e9d.00937","type":"function","z":"3d6e2e74.2e2b42","name":"save_room2_temp_reg","func":"flow.set(\"room6_temp_reg\", msg.payload)","outputs":1,"noerr":0,"x":1070,"y":2680,"wires":[[]]},{"id":"4244abb4.9c2cd4","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"var room6_temp_reg = flow.get(\"room6_temp_reg\");\nmsg.payload = room6_temp_reg;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":2680,"wires":[["db98e02f.beaab"]]},{"id":"ef9f5bdb.e20058","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"var day_setpoint = flow.get(\"day_setpoint\") || 0;\nmsg.payload=(day_setpoint/10);\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":100,"wires":[["57d1552.47eabac"]]},{"id":"57d1552.47eabac","type":"ui_slider","z":"3d6e2e74.2e2b42","name":"Day Setpoint","label":"","tooltip":"","group":"432a5187.f9392","order":2,"width":"0","height":"0","passthru":true,"outs":"end","topic":"","min":"11","max":"25","step":"1","x":1735,"y":100,"wires":[["f7f1df93.dc17f"]],"l":false},{"id":"160dbd8.045f743","type":"ui_text","z":"3d6e2e74.2e2b42","group":"432a5187.f9392","order":1,"width":0,"height":0,"name":"","label":"Setpoint","format":"{{msg.payload}}","layout":"row-center","x":1360,"y":120,"wires":[]},{"id":"29aa60e.0c3a5a","type":"comment","z":"3d6e2e74.2e2b42","name":"Day Setpoints","info":"","x":1470,"y":40,"wires":[]},{"id":"d6876bab.23a7a8","type":"ui_text_input","z":"3d6e2e74.2e2b42","name":"","label":"Day Setpoint Register","tooltip":"","group":"727ca2c.d440e5c","order":1,"width":4,"height":1,"passthru":false,"mode":"text","delay":"0","topic":"","x":1700,"y":160,"wires":[["b46450c1.3f8a6"]]},{"id":"b46450c1.3f8a6","type":"function","z":"3d6e2e74.2e2b42","name":"save_day_setpoint_reg","func":"flow.set(\"day_setpoint_reg\", msg.payload);","outputs":1,"noerr":0,"x":1920,"y":160,"wires":[[]]},{"id":"f18aa915.0dc7d8","type":"modbus-flex-write","z":"3d6e2e74.2e2b42","name":"","showStatusActivities":false,"showErrors":false,"server":"adf4b4e6.55ca88","x":1990,"y":100,"wires":[[],[]]},{"id":"f7f1df93.dc17f","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"flow.set(\"day_setpoint\", (msg.payload*10));\nvar day_setpoint_reg = flow.get(\"day_setpoint_reg\");\nmsg.payload = { \n    'fc': 6,\n    'value': (msg.payload*10),\n    'unitid': 254,\n    'address': day_setpoint_reg,\n    'quantity': 1\n    };\nreturn msg;","outputs":1,"noerr":0,"x":1830,"y":100,"wires":[["f18aa915.0dc7d8"]]},{"id":"4ab4206.9bc3be","type":"inject","z":"3d6e2e74.2e2b42","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"5","x":1350,"y":160,"wires":[["3cc571a0.0265ce"]]},{"id":"3cc571a0.0265ce","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload = flow.get(\"day_setpoint_reg\");\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":120,"wires":[["ef9f5bdb.e20058","d6876bab.23a7a8"]]},{"id":"b4170b19.3e3268","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"var day_cooling_setpoint = flow.get(\"day_cooling_setpoint\") || 0;\nmsg.payload=(day_cooling_setpoint/10);\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":260,"wires":[["ade2de4a.b3de3"]]},{"id":"ade2de4a.b3de3","type":"ui_slider","z":"3d6e2e74.2e2b42","name":"Day Cooling Setpoint","label":"","tooltip":"","group":"432a5187.f9392","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"11","max":"25","step":"1","x":1735,"y":260,"wires":[["2df043f2.c541cc"]],"l":false},{"id":"45d126b9.042d48","type":"ui_slider","z":"3d6e2e74.2e2b42","name":"Day Heating Setpoint","label":"","tooltip":"","group":"432a5187.f9392","order":6,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"11","max":"25","step":"1","x":1735,"y":420,"wires":[["bfb72ca3.ce513"]],"l":false},{"id":"74c7493a.74c438","type":"ui_text","z":"3d6e2e74.2e2b42","group":"432a5187.f9392","order":3,"width":0,"height":0,"name":"","label":"Cooling Setpoint","format":"{{msg.payload}}","layout":"row-center","x":1340,"y":280,"wires":[]},{"id":"a006a122.81a5c","type":"ui_text","z":"3d6e2e74.2e2b42","group":"432a5187.f9392","order":5,"width":0,"height":0,"name":"","label":"Heating Setpoint","format":"{{msg.payload}}","layout":"row-center","x":1340,"y":440,"wires":[]},{"id":"2df043f2.c541cc","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"flow.set(\"day_cooling_setpoint\", (msg.payload*10));\nvar day_cooling_setpoint_reg = flow.get(\"day_cooling_setpoint_reg\");\nmsg.payload = { \n    'fc': 6,\n    'value': msg.payload*10,\n    'unitid': 254,\n    'address': day_cooling_setpoint_reg,\n    'quantity': 1\n    };\nreturn msg;","outputs":1,"noerr":0,"x":1830,"y":260,"wires":[["dda04d0a.e0c74"]]},{"id":"dda04d0a.e0c74","type":"modbus-flex-write","z":"3d6e2e74.2e2b42","name":"","showStatusActivities":false,"showErrors":false,"server":"adf4b4e6.55ca88","x":1990,"y":260,"wires":[[],[]]},{"id":"b3cb2c87.82e99","type":"ui_text_input","z":"3d6e2e74.2e2b42","name":"","label":"Day Cooling Setpoint Register","tooltip":"","group":"727ca2c.d440e5c","order":2,"width":4,"height":1,"passthru":false,"mode":"text","delay":"0","topic":"","x":1730,"y":320,"wires":[["a1c73f9f.b70ad"]]},{"id":"a1c73f9f.b70ad","type":"function","z":"3d6e2e74.2e2b42","name":"save_cooling_setpoint_reg","func":"flow.set(\"day_cooling_setpoint_reg\", msg.payload)","outputs":1,"noerr":0,"x":1990,"y":320,"wires":[[]]},{"id":"86f6032a.6d3c3","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"var day_heating_setpoint = flow.get(\"day_heating_setpoint\") || 0;\nmsg.payload=(day_heating_setpoint/10);\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":420,"wires":[["45d126b9.042d48"]]},{"id":"bfb72ca3.ce513","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"flow.set(\"day_heating_setpoint\", (msg.payload*10));\nvar day_heating_setpoint_reg = flow.get(\"day_heating_setpoint_reg\");\nmsg.payload = { \n    'fc': 6,\n    'value': msg.payload*10,\n    'unitid': 254,\n    'address': day_heating_setpoint_reg,\n    'quantity': 1\n    };\nreturn msg;","outputs":1,"noerr":0,"x":1830,"y":420,"wires":[["7b312b58.853074"]]},{"id":"7b312b58.853074","type":"modbus-flex-write","z":"3d6e2e74.2e2b42","name":"","showStatusActivities":true,"showErrors":false,"server":"adf4b4e6.55ca88","x":1990,"y":420,"wires":[[],[]]},{"id":"1e70ddb6.ceff42","type":"ui_text_input","z":"3d6e2e74.2e2b42","name":"","label":"Day Heating Setpoint Register","tooltip":"","group":"727ca2c.d440e5c","order":3,"width":4,"height":1,"passthru":false,"mode":"text","delay":"0","topic":"","x":1730,"y":480,"wires":[["a9384599.49cb58"]]},{"id":"a9384599.49cb58","type":"function","z":"3d6e2e74.2e2b42","name":"save_heating_setpoint_reg","func":"flow.set(\"day_heating_setpoint_reg\", msg.payload)","outputs":1,"noerr":0,"x":1990,"y":480,"wires":[[]]},{"id":"b9979a1e.051bd8","type":"inject","z":"3d6e2e74.2e2b42","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"6","x":1350,"y":320,"wires":[["ab4071e7.d5c85"]]},{"id":"e11743e3.9010f","type":"inject","z":"3d6e2e74.2e2b42","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"7","x":1350,"y":480,"wires":[["5cec882e.1a51c8"]]},{"id":"ab4071e7.d5c85","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload = flow.get(\"day_cooling_setpoint_reg\");\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":280,"wires":[["b4170b19.3e3268","b3cb2c87.82e99"]]},{"id":"5cec882e.1a51c8","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload = flow.get(\"day_heating_setpoint_reg\");\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":440,"wires":[["86f6032a.6d3c3","1e70ddb6.ceff42"]]},{"id":"a5e94aa4.e5a808","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"var night_setpoint = flow.get(\"night_setpoint\") || 0;\nmsg.payload=(night_setpoint/10);\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":620,"wires":[["cab1c867.9e3ab8"]]},{"id":"cab1c867.9e3ab8","type":"ui_slider","z":"3d6e2e74.2e2b42","name":"Night Setpoint","label":"","tooltip":"","group":"bc106ff0.7f9c4","order":2,"width":"0","height":"0","passthru":true,"outs":"end","topic":"","min":"11","max":"25","step":"1","x":1735,"y":620,"wires":[["597344ea.b2febc"]],"l":false},{"id":"900ba5ff.161598","type":"comment","z":"3d6e2e74.2e2b42","name":"Night Setpoints","info":"","x":1480,"y":560,"wires":[]},{"id":"1bedea83.9366d5","type":"ui_text_input","z":"3d6e2e74.2e2b42","name":"","label":"Night Setpoint Register","tooltip":"","group":"92b4cc53.73b3a","order":1,"width":4,"height":1,"passthru":false,"mode":"text","delay":"0","topic":"","x":1700,"y":680,"wires":[["39266f66.47a56"]]},{"id":"39266f66.47a56","type":"function","z":"3d6e2e74.2e2b42","name":"save_night_setpoint_reg","func":"flow.set(\"night_setpoint_reg\", msg.payload)","outputs":1,"noerr":0,"x":1950,"y":680,"wires":[[]]},{"id":"ec22de2a.bacd2","type":"modbus-flex-write","z":"3d6e2e74.2e2b42","name":"","showStatusActivities":false,"showErrors":false,"server":"adf4b4e6.55ca88","x":1990,"y":620,"wires":[[],[]]},{"id":"597344ea.b2febc","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"flow.set(\"night_setpoint\", (msg.payload*10));\nvar night_setpoint_reg = flow.get(\"night_setpoint_reg\");\nmsg.payload = { \n    'fc': 6,\n    'value': msg.payload*10,\n    'unitid': 254,\n    'address': night_setpoint_reg,\n    'quantity': 1\n    };\nreturn msg;","outputs":1,"noerr":0,"x":1830,"y":620,"wires":[["ec22de2a.bacd2"]]},{"id":"8549b660.aba278","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"var night_cooling_setpoint = flow.get(\"night_cooling_setpoint\") || 0;\nmsg.payload=(night_cooling_setpoint/10);\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":780,"wires":[["a83dc8e8.666ae8"]]},{"id":"a83dc8e8.666ae8","type":"ui_slider","z":"3d6e2e74.2e2b42","name":"Night Cooling Setpoint","label":"","tooltip":"","group":"bc106ff0.7f9c4","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"11","max":"25","step":"1","x":1735,"y":780,"wires":[["d9398d88.beb8e"]],"l":false},{"id":"8f553544.b36578","type":"ui_slider","z":"3d6e2e74.2e2b42","name":"Night Heating Setpoint","label":"","tooltip":"","group":"bc106ff0.7f9c4","order":6,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"11","max":"25","step":"1","x":1735,"y":940,"wires":[["be395e27.7f9aa"]],"l":false},{"id":"d9398d88.beb8e","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"flow.set(\"night_cooling_setpoint\", (msg.payload*10));\nvar night_cooling_setpoint_reg = flow.get(\"night_cooling_setpoint_reg\");\nmsg.payload = { \n    'fc': 6,\n    'value': msg.payload*10,\n    'unitid': 254,\n    'address': night_cooling_setpoint_reg,\n    'quantity': 1\n    };\nreturn msg;","outputs":1,"noerr":0,"x":1830,"y":780,"wires":[["6de6984e.831788"]]},{"id":"6de6984e.831788","type":"modbus-flex-write","z":"3d6e2e74.2e2b42","name":"","showStatusActivities":false,"showErrors":false,"server":"adf4b4e6.55ca88","x":1990,"y":780,"wires":[[],[]]},{"id":"c96cb6fb.9e85d8","type":"ui_text_input","z":"3d6e2e74.2e2b42","name":"","label":"NIght Cooling Setpoint Register","tooltip":"","group":"92b4cc53.73b3a","order":3,"width":4,"height":1,"passthru":false,"mode":"text","delay":"0","topic":"","x":1730,"y":840,"wires":[["bb809c3e.5a415"]]},{"id":"bb809c3e.5a415","type":"function","z":"3d6e2e74.2e2b42","name":"save_night_cooling_setpoint_reg","func":"flow.set(\"night_cooling_setpoint_reg\", msg.payload)","outputs":1,"noerr":0,"x":2010,"y":840,"wires":[[]]},{"id":"16277eca.80b321","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"var night_heating_setpoint = flow.get(\"night_heating_setpoint\") || 0;\nmsg.payload=(night_heating_setpoint/10);\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":940,"wires":[["8f553544.b36578"]]},{"id":"be395e27.7f9aa","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"flow.set(\"night_heating_setpoint\", (msg.payload*10));\nvar night_heating_setpoint_reg = flow.get(\"night_heating_setpoint_reg\");\nmsg.payload = { \n    'fc': 6,\n    'value': msg.payload*10,\n    'unitid': 254,\n    'address': night_heating_setpoint_reg,\n    'quantity': 1\n    };\nreturn msg;","outputs":1,"noerr":0,"x":1830,"y":940,"wires":[["191c3326.d9f3dd"]]},{"id":"47f5ebe0.8f4834","type":"ui_text_input","z":"3d6e2e74.2e2b42","name":"","label":"Night Heating Setpoint Register","tooltip":"","group":"92b4cc53.73b3a","order":5,"width":4,"height":1,"passthru":false,"mode":"text","delay":"0","topic":"","x":1730,"y":1000,"wires":[["a67842bf.c29f2"]]},{"id":"a67842bf.c29f2","type":"function","z":"3d6e2e74.2e2b42","name":"save_night_heating_setpoint_reg","func":"flow.set(\"night_heating_setpoint_reg\", msg.payload)","outputs":1,"noerr":0,"x":2010,"y":1000,"wires":[[]]},{"id":"422a809a.02b6b","type":"inject","z":"3d6e2e74.2e2b42","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"10","x":1330,"y":680,"wires":[["93eaf67c.bf8118"]]},{"id":"2f2a1de9.b61102","type":"inject","z":"3d6e2e74.2e2b42","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"11","x":1330,"y":840,"wires":[["4c209007.f30ad"]]},{"id":"8e73bbc7.57acb8","type":"inject","z":"3d6e2e74.2e2b42","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"12","x":1330,"y":1000,"wires":[["6b829b69.25a324"]]},{"id":"b403e42b.002128","type":"ui_text","z":"3d6e2e74.2e2b42","group":"bc106ff0.7f9c4","order":1,"width":0,"height":0,"name":"","label":"Setpoint","format":"{{msg.payload}}","layout":"row-center","x":1340,"y":640,"wires":[]},{"id":"7196c298.5b6a0c","type":"ui_text","z":"3d6e2e74.2e2b42","group":"bc106ff0.7f9c4","order":3,"width":0,"height":0,"name":"","label":"Cooling Setpoint","format":"{{msg.payload}}","layout":"row-center","x":1320,"y":800,"wires":[]},{"id":"dc55d433.a4cad8","type":"ui_text","z":"3d6e2e74.2e2b42","group":"bc106ff0.7f9c4","order":5,"width":0,"height":0,"name":"","label":"Heating Setpoint","format":"{{msg.payload}}","layout":"row-center","x":1320,"y":960,"wires":[]},{"id":"93eaf67c.bf8118","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload = flow.get(\"night_setpoint_reg\");\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":640,"wires":[["a5e94aa4.e5a808","1bedea83.9366d5"]]},{"id":"4c209007.f30ad","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload = flow.get(\"night_cooling_setpoint_reg\");\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":800,"wires":[["8549b660.aba278","c96cb6fb.9e85d8"]]},{"id":"6b829b69.25a324","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload = flow.get(\"night_heating_setpoint_reg\");\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":960,"wires":[["16277eca.80b321","47f5ebe0.8f4834"]]},{"id":"191c3326.d9f3dd","type":"modbus-flex-write","z":"3d6e2e74.2e2b42","name":"","showStatusActivities":false,"showErrors":false,"server":"adf4b4e6.55ca88","x":1990,"y":940,"wires":[[],[]]},{"id":"677e5d3c.a36ff4","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload = flow.get(\"mode_reg\");\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":1120,"wires":[["863d69f1.383418"]]},{"id":"863d69f1.383418","type":"ui_text_input","z":"3d6e2e74.2e2b42","name":"","label":"Mode (Heating/Cooling) Register","tooltip":"","group":"bc9ba4b.ce53758","order":2,"width":4,"height":1,"passthru":false,"mode":"text","delay":"0","topic":"","x":1710,"y":1120,"wires":[["3d30f5b9.aa32ea"]]},{"id":"3d30f5b9.aa32ea","type":"function","z":"3d6e2e74.2e2b42","name":"save_mode_reg","func":"flow.set(\"mode_reg\", msg.payload)","outputs":1,"noerr":0,"x":1940,"y":1120,"wires":[[]]},{"id":"a427a63e.b0a848","type":"inject","z":"3d6e2e74.2e2b42","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":1330,"y":1180,"wires":[["ebbdb4e5.6999c8"]]},{"id":"ebbdb4e5.6999c8","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload = flow.get(\"mode_reg\");\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":1180,"wires":[["a2d97fb.db2c28"]]},{"id":"1659c4b4.71896b","type":"ui_text","z":"3d6e2e74.2e2b42","group":"88e71e23.ab61e","order":4,"width":0,"height":0,"name":"","label":"Mode (Heating/Cooling):","format":"{{msg.payload}}","layout":"row-spread","x":2230,"y":1180,"wires":[]},{"id":"e1068439.e40ea8","type":"modbus-flex-getter","z":"3d6e2e74.2e2b42","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"adf4b4e6.55ca88","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":1810,"y":1180,"wires":[["277e7d3.b68b182"],[]]},{"id":"a2d97fb.db2c28","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload = { \n    'fc': 3,\n    'unitid': 254,\n    'address': msg.payload,\n    'quantity': 1\n    };\nreturn msg;","outputs":1,"noerr":0,"x":1630,"y":1180,"wires":[["e1068439.e40ea8"]]},{"id":"277e7d3.b68b182","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"if (msg.payload[0] == 0) {\n    msg.payload = \"None\";\n} else if (msg.payload[0] == 1) {\n    msg.payload = \"Cooling\";\n} else if (msg.payload[0] == 2) {\n    msg.payload = \"Heating\";\n} else {\n    msg.payload = \"\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":2020,"y":1180,"wires":[["1659c4b4.71896b"]]},{"id":"8f2c31d3.875aa","type":"modbus-flex-getter","z":"3d6e2e74.2e2b42","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"adf4b4e6.55ca88","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":1670,"y":1420,"wires":[["c019d706.35f868"],[]]},{"id":"e50c6ffa.a9227","type":"ui_chart","z":"3d6e2e74.2e2b42","name":"","group":"88e71e23.ab61e","order":3,"width":5,"height":3,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2010,"y":1480,"wires":[[]]},{"id":"5fc32e0.b2b77d4","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"var device_internal_temp_reg = flow.get(\"device_internal_temp_reg\");\nmsg.payload = { \n    'fc': 3,\n    'unitid': 254,\n    'address': device_internal_temp_reg ,\n    'quantity': 1\n    };\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":1420,"wires":[["8f2c31d3.875aa"]]},{"id":"bee232bc.655d9","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload = flow.get(\"device_internal_temp_reg\");\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":1320,"wires":[["f93ad6a.0c4da28"]]},{"id":"f93ad6a.0c4da28","type":"ui_text_input","z":"3d6e2e74.2e2b42","name":"","label":"Device Internal Temp Reg","tooltip":"","group":"bc9ba4b.ce53758","order":2,"width":4,"height":1,"passthru":false,"mode":"text","delay":"0","topic":"","x":1690,"y":1320,"wires":[["b2d94607.9e2988"]]},{"id":"b2d94607.9e2988","type":"function","z":"3d6e2e74.2e2b42","name":"save_mode_reg","func":"flow.set(\"device_internal_temp_reg\", msg.payload)","outputs":1,"noerr":0,"x":1900,"y":1320,"wires":[[]]},{"id":"3b98d50e.6928fa","type":"ui_text","z":"3d6e2e74.2e2b42","group":"88e71e23.ab61e","order":1,"width":0,"height":0,"name":"","label":"Controller Temp","format":"{{msg.payload}}","layout":"row-center","x":1520,"y":1380,"wires":[]},{"id":"555685b8.d94dac","type":"inject","z":"3d6e2e74.2e2b42","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"14","x":1330,"y":1320,"wires":[["bee232bc.655d9"]]},{"id":"5054747d.e3d2fc","type":"inject","z":"3d6e2e74.2e2b42","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":"1.75","x":1330,"y":1420,"wires":[["5fc32e0.b2b77d4"]]},{"id":"372b2865.1c8b38","type":"ui_template","z":"3d6e2e74.2e2b42","group":"44ca6ba9.5ca844","name":"room1temp","order":2,"width":0,"height":0,"format":"<script src=\"/myjs/tween-min.js\"></script>\n<script src=\"/myjs/steelseries-min.js\"></script>\n<script>\nvar radial1;\n    (function(scope){ \n        scope.$watch('msg', function(msg) {\n           if (typeof(msg.temp) != \"undefined\") radial1.setValueAnimated(msg.temp);\n           if (typeof(msg.coolsetpnt) != \"undefined\") radial1.setThreshold(msg.coolsetpnt);\n           if (typeof(msg.heatsetpnt) != \"undefined\") radial1.setThreshold(msg.heatsetpnt);\n           if (typeof(msg.tempname) != \"undefined\") radial1.setTitleString(msg.tempname);\n           if (typeof(msg.userLed) != \"undefined\") radial1.setUserLedOnOff(msg.userLed);  \n           if (typeof(msg.trend) != \"undefined\")\n            {\n                if (msg.trend==1)     radial1.setTrend(steelseries.TrendState.UP);\n                if (msg.trend==0)     radial1.setTrend(steelseries.TrendState.STEADY);\n                if (msg.trend==-1)    radial1.setTrend(steelseries.TrendState.DOWN);\n                if (msg.trend==-2)    radial1.setTrend(steelseries.TrendState.OFF);\n            }\n        });\n    })(scope);\n\n    var sections = [steelseries.Section(10, 18, 'rgba(0, 0, 220, 0.3)'),\n                        steelseries.Section(18, 24, 'rgba(0, 220, 0, 0.3)'),\n                        steelseries.Section(24, 30, 'rgba(220, 0, 0, 0.3)') ],\n\n            // Define one area\n    areas = [steelseries.Section(18, 24, 'rgba(80, 220, 100, 0.3)')],\n    \n    radial1 = new steelseries.Radial('canvasradial1', {\n            gaugeType: steelseries.GaugeType.TYPE2,\n            minValue: 10,\n            maxValue: 30,\n            size: 235,\n            section: sections,\n            area: areas,\n            unitString: \"Degrees C\",\n            threshold: 22,\n            thresholdRising: false,\n            userLedVisible: false,\n            ledVisible: false,\n            useOdometer: false,\n            lcdVisible: true,\n            lcdDecimals: 1,\n            trendVisible: false\n        });\n                        \n    radial1.setFrameDesign(steelseries.FrameDesign.BLACK_METAL);\n    radial1.setValueAnimated(0);\n    radial1.blinkUserLed(0);\n    radial1.setOdoValue(0);\n\n\n</script>\n\n<canvas id=\"canvasradial1\" width=\"401\" height=\"401\"></canvas>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1030,"y":120,"wires":[[]]},{"id":"109828f0.bdf657","type":"range","z":"3d6e2e74.2e2b42","minin":"0","maxin":"1000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"","x":680,"y":120,"wires":[["fc7d5fb7.a01c6","81c68199.a5585"]]},{"id":"fc7d5fb7.a01c6","type":"change","z":"3d6e2e74.2e2b42","name":"","rules":[{"t":"set","p":"temp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":120,"wires":[["372b2865.1c8b38"]]},{"id":"f67e6435.404bd8","type":"range","z":"3d6e2e74.2e2b42","minin":"0","maxin":"1000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"","x":880,"y":340,"wires":[["d4a6d802.771e78","529215ea.2370fc"]]},{"id":"23fd3454.d8189c","type":"change","z":"3d6e2e74.2e2b42","name":"","rules":[{"t":"set","p":"tempname","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":380,"wires":[[]]},{"id":"d4a6d802.771e78","type":"change","z":"3d6e2e74.2e2b42","name":"","rules":[{"t":"set","p":"temp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":340,"wires":[["993f56dd.3042c8"]]},{"id":"993f56dd.3042c8","type":"ui_template","z":"3d6e2e74.2e2b42","group":"d63a307e.32fd4","name":"room2temp","order":2,"width":0,"height":0,"format":"<script src=\"/myjs/tween-min.js\"></script>\n<script src=\"/myjs/steelseries-min.js\"></script>\n<script>\nvar radial2;\n    (function(scope){ \n        scope.$watch('msg', function(msg) {\n           if (typeof(msg.temp) != \"undefined\") radial2.setValueAnimated(msg.temp);\n           if (typeof(msg.coolsetpnt) != \"undefined\") radial2.setThreshold(msg.coolsetpnt);\n           if (typeof(msg.heatsetpnt) != \"undefined\") radial2.setThreshold(msg.heatsetpnt);\n           if (typeof(msg.tempname) != \"undefined\") radial2.setTitleString(msg.tempname);\n           if (typeof(msg.userLed) != \"undefined\") radial2.setUserLedOnOff(msg.userLed);  \n           if (typeof(msg.trend) != \"undefined\")\n            {\n                if (msg.trend==1)     radial2.setTrend(steelseries.TrendState.UP);\n                if (msg.trend==0)     radial2.setTrend(steelseries.TrendState.STEADY);\n                if (msg.trend==-1)    radial2.setTrend(steelseries.TrendState.DOWN);\n                if (msg.trend==-2)    radial2.setTrend(steelseries.TrendState.OFF);\n            }\n        });\n    })(scope);\n\n    var sections = [steelseries.Section(10, 18, 'rgba(0, 0, 220, 0.3)'),\n                        steelseries.Section(18, 24, 'rgba(0, 220, 0, 0.3)'),\n                        steelseries.Section(24, 30, 'rgba(220, 0, 0, 0.3)') ],\n\n            // Define one area\n    areas = [steelseries.Section(18, 24, 'rgba(80, 220, 100, 0.3)')],\n    \n    radial2 = new steelseries.Radial('canvasRadial2', {\n            gaugeType: steelseries.GaugeType.TYPE2,\n            minValue: 10,\n            maxValue: 30,\n            size: 235,\n            section: sections,\n            area: areas,\n            unitString: \"Degrees C\",\n            threshold: 22,\n            thresholdRising: false,\n            userLedVisible: false,\n            ledVisible: false,\n            useOdometer: false,\n            lcdVisible: true,\n            lcdDecimals: 1,\n            trendVisible: false\n        });\n                        \n    radial2.setFrameDesign(steelseries.FrameDesign.BLACK_METAL);\n    radial2.setValueAnimated(0);\n    radial2.blinkUserLed(0);\n    radial2.setOdoValue(0);\n\n\n</script>\n\n<canvas id=\"canvasRadial2\" width=\"401\" height=\"401\"></canvas>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1050,"y":380,"wires":[[]]},{"id":"65576c52.383154","type":"range","z":"3d6e2e74.2e2b42","minin":"0","maxin":"1000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"","x":880,"y":560,"wires":[["c65578ec.75bc78","3e3e7e00.f23832"]]},{"id":"d51c4453.12e598","type":"change","z":"3d6e2e74.2e2b42","name":"","rules":[{"t":"set","p":"tempname","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":600,"wires":[[]]},{"id":"c65578ec.75bc78","type":"change","z":"3d6e2e74.2e2b42","name":"","rules":[{"t":"set","p":"temp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":560,"wires":[["75a2d8ce.6238e8"]]},{"id":"75a2d8ce.6238e8","type":"ui_template","z":"3d6e2e74.2e2b42","group":"cfff10ba.4e053","name":"room3temp","order":2,"width":0,"height":0,"format":"<script src=\"/myjs/tween-min.js\"></script>\n<script src=\"/myjs/steelseries-min.js\"></script>\n<script>\nvar radial3;\n    (function(scope){ \n        scope.$watch('msg', function(msg) {\n           if (typeof(msg.temp) != \"undefined\") radial3.setValueAnimated(msg.temp);\n           if (typeof(msg.coolsetpnt) != \"undefined\") radial3.setThreshold(msg.coolsetpnt);\n           if (typeof(msg.heatsetpnt) != \"undefined\") radial3.setThreshold(msg.heatsetpnt);\n           if (typeof(msg.tempname) != \"undefined\") radial3.setTitleString(msg.tempname);\n           if (typeof(msg.userLed) != \"undefined\") radial3.setUserLedOnOff(msg.userLed);  \n           if (typeof(msg.trend) != \"undefined\")\n            {\n                if (msg.trend==1)     radial3.setTrend(steelseries.TrendState.UP);\n                if (msg.trend==0)     radial3.setTrend(steelseries.TrendState.STEADY);\n                if (msg.trend==-1)    radial3.setTrend(steelseries.TrendState.DOWN);\n                if (msg.trend==-2)    radial3.setTrend(steelseries.TrendState.OFF);\n            }\n        });\n    })(scope);\n\n    var sections = [steelseries.Section(10, 18, 'rgba(0, 0, 220, 0.3)'),\n                        steelseries.Section(18, 24, 'rgba(0, 220, 0, 0.3)'),\n                        steelseries.Section(24, 30, 'rgba(220, 0, 0, 0.3)') ],\n\n            // Define one area\n    areas = [steelseries.Section(18, 24, 'rgba(80, 220, 100, 0.3)')],\n    \n    radial3 = new steelseries.Radial('canvasradial3', {\n            gaugeType: steelseries.GaugeType.TYPE2,\n            minValue: 10,\n            maxValue: 30,\n            size: 235,\n            section: sections,\n            area: areas,\n            unitString: \"Degrees C\",\n            threshold: 22,\n            thresholdRising: false,\n            userLedVisible: false,\n            ledVisible: false,\n            useOdometer: false,\n            lcdVisible: true,\n            lcdDecimals: 1,\n            trendVisible: false\n        });\n                        \n    radial3.setFrameDesign(steelseries.FrameDesign.BLACK_METAL);\n    radial3.setValueAnimated(0);\n    radial3.blinkUserLed(0);\n    radial3.setOdoValue(0);\n\n\n</script>\n\n<canvas id=\"canvasradial3\" width=\"401\" height=\"401\"></canvas>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1050,"y":600,"wires":[[]]},{"id":"bfbbf618.d863b8","type":"range","z":"3d6e2e74.2e2b42","minin":"0","maxin":"1000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"","x":880,"y":780,"wires":[["8cff2a8e.3fc3c8","d5bbf37.049291"]]},{"id":"8cff2a8e.3fc3c8","type":"change","z":"3d6e2e74.2e2b42","name":"","rules":[{"t":"set","p":"temp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":780,"wires":[["68ffb425.58fe9c"]]},{"id":"c2b88be4.35e558","type":"change","z":"3d6e2e74.2e2b42","name":"","rules":[{"t":"set","p":"tempname","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":820,"wires":[[]]},{"id":"a3e067db.abe2d8","type":"ui_template","z":"3d6e2e74.2e2b42","group":"84064e66.8328b","name":"room5temp","order":2,"width":0,"height":0,"format":"<script src=\"/myjs/tween-min.js\"></script>\n<script src=\"/myjs/steelseries-min.js\"></script>\n<script>\nvar radial5;\n    (function(scope){ \n        scope.$watch('msg', function(msg) {\n           if (typeof(msg.temp) != \"undefined\") radial5.setValueAnimated(msg.temp);\n           if (typeof(msg.coolsetpnt) != \"undefined\") radial5.setThreshold(msg.coolsetpnt);\n           if (typeof(msg.heatsetpnt) != \"undefined\") radial5.setThreshold(msg.heatsetpnt);\n           if (typeof(msg.tempname) != \"undefined\") radial5.setTitleString(msg.tempname);\n           if (typeof(msg.userLed) != \"undefined\") radial5.setUserLedOnOff(msg.userLed);  \n           if (typeof(msg.trend) != \"undefined\")\n            {\n                if (msg.trend==1)     radial5.setTrend(steelseries.TrendState.UP);\n                if (msg.trend==0)     radial5.setTrend(steelseries.TrendState.STEADY);\n                if (msg.trend==-1)    radial5.setTrend(steelseries.TrendState.DOWN);\n                if (msg.trend==-2)    radial5.setTrend(steelseries.TrendState.OFF);\n            }\n        });\n    })(scope);\n\n    var sections = [steelseries.Section(10, 18, 'rgba(0, 0, 220, 0.3)'),\n                        steelseries.Section(18, 24, 'rgba(0, 220, 0, 0.3)'),\n                        steelseries.Section(24, 30, 'rgba(220, 0, 0, 0.3)') ],\n\n            // Define one area\n    areas = [steelseries.Section(18, 24, 'rgba(80, 220, 100, 0.3)')],\n    \n    radial5 = new steelseries.Radial('canvasradial5', {\n            gaugeType: steelseries.GaugeType.TYPE2,\n            minValue: 10,\n            maxValue: 30,\n            size: 235,\n            section: sections,\n            area: areas,\n            unitString: \"Degrees C\",\n            threshold: 22,\n            thresholdRising: false,\n            userLedVisible: false,\n            ledVisible: false,\n            useOdometer: false,\n            lcdVisible: true,\n            lcdDecimals: 1,\n            trendVisible: false\n        });\n                        \n    radial5.setFrameDesign(steelseries.FrameDesign.BLACK_METAL);\n    radial5.setValueAnimated(0);\n    radial5.blinkUserLed(0);\n    radial5.setOdoValue(0);\n\n\n</script>\n\n<canvas id=\"canvasradial5\" width=\"401\" height=\"401\"></canvas>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1030,"y":1040,"wires":[[]]},{"id":"6e2c501f.7aecf","type":"range","z":"3d6e2e74.2e2b42","minin":"0","maxin":"1000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"","x":860,"y":1000,"wires":[["bac9037.9a54e","a0caddd7.01908"]]},{"id":"d2e5783e.7f6c88","type":"change","z":"3d6e2e74.2e2b42","name":"","rules":[{"t":"set","p":"tempname","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1040,"wires":[[]]},{"id":"c21ae0fd.e5123","type":"ui_template","z":"3d6e2e74.2e2b42","group":"a8c5fca8.c9f6a","name":"room6temp","order":2,"width":0,"height":0,"format":"<script src=\"/myjs/tween-min.js\"></script>\n<script src=\"/myjs/steelseries-min.js\"></script>\n<script>\nvar radial6;\n    (function(scope){ \n        scope.$watch('msg', function(msg) {\n           if (typeof(msg.temp) != \"undefined\") radial6.setValueAnimated(msg.temp);\n           if (typeof(msg.coolsetpnt) != \"undefined\") radial6.setThreshold(msg.coolsetpnt);\n           if (typeof(msg.heatsetpnt) != \"undefined\") radial6.setThreshold(msg.heatsetpnt);\n           if (typeof(msg.tempname) != \"undefined\") radial6.setTitleString(msg.tempname);\n           if (typeof(msg.userLed) != \"undefined\") radial6.setUserLedOnOff(msg.userLed);  \n           if (typeof(msg.trend) != \"undefined\")\n            {\n                if (msg.trend==1)     radial6.setTrend(steelseries.TrendState.UP);\n                if (msg.trend==0)     radial6.setTrend(steelseries.TrendState.STEADY);\n                if (msg.trend==-1)    radial6.setTrend(steelseries.TrendState.DOWN);\n                if (msg.trend==-2)    radial6.setTrend(steelseries.TrendState.OFF);\n            }\n        });\n    })(scope);\n\n    var sections = [steelseries.Section(10, 18, 'rgba(0, 0, 220, 0.3)'),\n                        steelseries.Section(18, 24, 'rgba(0, 220, 0, 0.3)'),\n                        steelseries.Section(24, 30, 'rgba(220, 0, 0, 0.3)') ],\n\n            // Define one area\n    areas = [steelseries.Section(18, 24, 'rgba(80, 220, 100, 0.3)')],\n    \n    radial6 = new steelseries.Radial('canvasradial6', {\n            gaugeType: steelseries.GaugeType.TYPE2,\n            minValue: 10,\n            maxValue: 30,\n            size: 235,\n            section: sections,\n            area: areas,\n            unitString: \"Degrees C\",\n            threshold: 22,\n            thresholdRising: false,\n            userLedVisible: false,\n            ledVisible: false,\n            useOdometer: false,\n            lcdVisible: true,\n            lcdDecimals: 1,\n            trendVisible: false\n        });\n                        \n    radial6.setFrameDesign(steelseries.FrameDesign.BLACK_METAL);\n    radial6.setValueAnimated(0);\n    radial6.blinkUserLed(0);\n    radial6.setOdoValue(0);\n\n\n</script>\n\n<canvas id=\"canvasradial6\" width=\"401\" height=\"401\"></canvas>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1030,"y":1260,"wires":[[]]},{"id":"bac9037.9a54e","type":"change","z":"3d6e2e74.2e2b42","name":"","rules":[{"t":"set","p":"temp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":1000,"wires":[["a3e067db.abe2d8"]]},{"id":"842d949b.b2d378","type":"range","z":"3d6e2e74.2e2b42","minin":"0","maxin":"1000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"","x":860,"y":1220,"wires":[["2a1d4b79.768fb4","ab911771.a2fa38"]]},{"id":"feb2e2e2.68907","type":"change","z":"3d6e2e74.2e2b42","name":"","rules":[{"t":"set","p":"tempname","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1260,"wires":[[]]},{"id":"68ffb425.58fe9c","type":"ui_template","z":"3d6e2e74.2e2b42","group":"78fa92c3.06830c","name":"room4temp","order":2,"width":0,"height":0,"format":"<script src=\"/myjs/tween-min.js\"></script>\n<script src=\"/myjs/steelseries-min.js\"></script>\n<script>\nvar radial4;\n    (function(scope){ \n        scope.$watch('msg', function(msg) {\n           if (typeof(msg.temp) != \"undefined\") radial4.setValueAnimated(msg.temp);\n           if (typeof(msg.coolsetpnt) != \"undefined\") radial4.setThreshold(msg.coolsetpnt);\n           if (typeof(msg.heatsetpnt) != \"undefined\") radial4.setThreshold(msg.heatsetpnt);\n           if (typeof(msg.tempname) != \"undefined\") radial4.setTitleString(msg.tempname);\n           if (typeof(msg.userLed) != \"undefined\") radial4.setUserLedOnOff(msg.userLed);  \n           if (typeof(msg.trend) != \"undefined\")\n            {\n                if (msg.trend==1)     radial4.setTrend(steelseries.TrendState.UP);\n                if (msg.trend==0)     radial4.setTrend(steelseries.TrendState.STEADY);\n                if (msg.trend==-1)    radial4.setTrend(steelseries.TrendState.DOWN);\n                if (msg.trend==-2)    radial4.setTrend(steelseries.TrendState.OFF);\n            }\n        });\n    })(scope);\n\n    var sections = [steelseries.Section(10, 18, 'rgba(0, 0, 220, 0.3)'),\n                        steelseries.Section(18, 24, 'rgba(0, 220, 0, 0.3)'),\n                        steelseries.Section(24, 30, 'rgba(220, 0, 0, 0.3)') ],\n\n            // Define one area\n    areas = [steelseries.Section(18, 24, 'rgba(80, 220, 100, 0.3)')],\n    \n    radial4 = new steelseries.Radial('canvasradial4', {\n            gaugeType: steelseries.GaugeType.TYPE2,\n            minValue: 10,\n            maxValue: 30,\n            size: 235,\n            section: sections,\n            area: areas,\n            unitString: \"Degrees C\",\n            threshold: 22,\n            thresholdRising: false,\n            userLedVisible: false,\n            ledVisible: false,\n            useOdometer: false,\n            lcdVisible: true,\n            lcdDecimals: 1,\n            trendVisible: false\n        });\n                        \n    radial4.setFrameDesign(steelseries.FrameDesign.BLACK_METAL);\n    radial4.setValueAnimated(0);\n    radial4.blinkUserLed(0);\n    radial4.setOdoValue(0);\n\n\n</script>\n\n<canvas id=\"canvasradial4\" width=\"401\" height=\"401\"></canvas>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1050,"y":820,"wires":[[]]},{"id":"2a1d4b79.768fb4","type":"change","z":"3d6e2e74.2e2b42","name":"","rules":[{"t":"set","p":"temp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":1220,"wires":[["c21ae0fd.e5123"]]},{"id":"c019d706.35f868","type":"range","z":"3d6e2e74.2e2b42","minin":"0","maxin":"1000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"","x":1860,"y":1420,"wires":[["9201fc7.40ccf","e50c6ffa.a9227"]]},{"id":"9201fc7.40ccf","type":"change","z":"3d6e2e74.2e2b42","name":"","rules":[{"t":"set","p":"temp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2030,"y":1420,"wires":[["6a7e4747.2557e8"]]},{"id":"6a7e4747.2557e8","type":"ui_template","z":"3d6e2e74.2e2b42","group":"88e71e23.ab61e","name":"controller_temp","order":2,"width":0,"height":0,"format":"<script src=\"/myjs/tween-min.js\"></script>\n<script src=\"/myjs/steelseries-min.js\"></script>\n<script>\nvar radial7;\n    (function(scope){ \n        scope.$watch('msg', function(msg) {\n           if (typeof(msg.temp) != \"undefined\") radial7.setValueAnimated(msg.temp);\n           if (typeof(msg.coolsetpnt) != \"undefined\") radial7.setThreshold(msg.coolsetpnt);\n           if (typeof(msg.heatsetpnt) != \"undefined\") radial7.setThreshold(msg.heatsetpnt);\n           if (typeof(msg.userLed) != \"undefined\") radial7.setUserLedOnOff(msg.userLed);  \n           if (typeof(msg.trend) != \"undefined\")\n            {\n                if (msg.trend==1)     radial7.setTrend(steelseries.TrendState.UP);\n                if (msg.trend==0)     radial7.setTrend(steelseries.TrendState.STEADY);\n                if (msg.trend==-1)    radial7.setTrend(steelseries.TrendState.DOWN);\n                if (msg.trend==-2)    radial7.setTrend(steelseries.TrendState.OFF);\n            }\n        });\n    })(scope);\n\n    var sections = [steelseries.Section(10, 18, 'rgba(0, 0, 220, 0.3)'),\n                        steelseries.Section(18, 24, 'rgba(0, 220, 0, 0.3)'),\n                        steelseries.Section(24, 30, 'rgba(220, 0, 0, 0.3)') ],\n\n            // Define one area\n    areas = [steelseries.Section(18, 24, 'rgba(80, 220, 100, 0.3)')],\n    \n    radial7 = new steelseries.Radial('canvasradial7', {\n            gaugeType: steelseries.GaugeType.TYPE2,\n            minValue: 10,\n            maxValue: 30,\n            size: 235,\n            section: sections,\n            area: areas,\n            titleString: \"Controller\",\n            unitString: \"Degrees C\",\n            threshold: 22,\n            thresholdRising: false,\n            userLedVisible: false,\n            ledVisible: false,\n            useOdometer: false,\n            lcdVisible: true,\n            lcdDecimals: 1,\n            trendVisible: false\n        });\n                        \n    radial7.setFrameDesign(steelseries.FrameDesign.BLACK_METAL);\n    radial7.setValueAnimated(0);\n    radial7.blinkUserLed(0);\n    radial7.setOdoValue(0);\n\n\n</script>\n\n<canvas id=\"canvasradial7\" width=\"401\" height=\"401\"></canvas>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":2220,"y":1420,"wires":[[]]},{"id":"e947f114.49e85","type":"change","z":"3d6e2e74.2e2b42","name":"","rules":[{"t":"set","p":"tempname","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":80,"wires":[[]]},{"id":"77d587ea.610aa8","type":"ui_text","z":"3d6e2e74.2e2b42","group":"44ca6ba9.5ca844","order":1,"width":0,"height":0,"name":"room1","label":"","format":"{{msg.payload}}","layout":"row-center","x":480,"y":40,"wires":[]},{"id":"a8a0b29.25daf5","type":"ui_text","z":"3d6e2e74.2e2b42","group":"d63a307e.32fd4","order":1,"width":0,"height":0,"name":"room2","label":"","format":"{{msg.payload}}","layout":"row-center","x":770,"y":420,"wires":[]},{"id":"710e275f.6e55e8","type":"ui_text","z":"3d6e2e74.2e2b42","group":"cfff10ba.4e053","order":1,"width":0,"height":0,"name":"room3","label":"","format":"{{msg.payload}}","layout":"row-center","x":770,"y":640,"wires":[]},{"id":"81ee7732.620588","type":"ui_text","z":"3d6e2e74.2e2b42","group":"78fa92c3.06830c","order":1,"width":0,"height":0,"name":"room4","label":"","format":"{{msg.payload}}","layout":"row-center","x":770,"y":860,"wires":[]},{"id":"72e2e104.92af9","type":"ui_text","z":"3d6e2e74.2e2b42","group":"84064e66.8328b","order":1,"width":0,"height":0,"name":"room5","label":"","format":"{{msg.payload}}","layout":"row-center","x":770,"y":1080,"wires":[]},{"id":"4cddeb80.552bb4","type":"ui_text","z":"3d6e2e74.2e2b42","group":"a8c5fca8.c9f6a","order":1,"width":0,"height":0,"name":"room6","label":"","format":"{{msg.payload}}","layout":"row-center","x":770,"y":1300,"wires":[]},{"id":"24edb836.806cc8","type":"inject","z":"3d6e2e74.2e2b42","name":"night-away","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1480,"y":1640,"wires":[["41293718.40e188"]]},{"id":"ee05ef0c.7d0ab","type":"inject","z":"3d6e2e74.2e2b42","name":"day-home","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1480,"y":1680,"wires":[["749174ee.fe738c"]]},{"id":"41293718.40e188","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload = { \n    'fc': 6,\n    'value': 26,\n    'unitid': 254,\n    'address': 109,\n    'quantity': 1\n    };\nreturn msg;","outputs":1,"noerr":0,"x":1630,"y":1640,"wires":[["376d8331.4aabcc","34c57485.cf319c"]]},{"id":"376d8331.4aabcc","type":"modbus-flex-write","z":"3d6e2e74.2e2b42","name":"","showStatusActivities":false,"showErrors":false,"server":"adf4b4e6.55ca88","x":1930,"y":1660,"wires":[[],[]]},{"id":"34c57485.cf319c","type":"debug","z":"3d6e2e74.2e2b42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1890,"y":1600,"wires":[]},{"id":"749174ee.fe738c","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload = { \n    'fc': 6,\n    'value': 27,\n    'unitid': 254,\n    'address': 109,\n    'quantity': 1\n    };\nreturn msg;","outputs":1,"noerr":0,"x":1630,"y":1680,"wires":[["376d8331.4aabcc","2f92a0e0.5d6e6"]]},{"id":"2f92a0e0.5d6e6","type":"debug","z":"3d6e2e74.2e2b42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1890,"y":1720,"wires":[]},{"id":"f77e8159.03734","type":"inject","z":"3d6e2e74.2e2b42","name":"enable_sched","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1490,"y":1840,"wires":[["f4f95b12.496b18"]]},{"id":"8a98d6a5.5e9df8","type":"inject","z":"3d6e2e74.2e2b42","name":"disable_sched","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1490,"y":1880,"wires":[["c53a5898.e7d2e8"]]},{"id":"f4f95b12.496b18","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload = { \n    'fc': 6,\n    'value': 1,\n    'unitid': 254,\n    'address': 656,\n    'quantity': 1\n    };\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":1840,"wires":[["5f3d1e43.5a1cd","d65184fb.54d728"]]},{"id":"5f3d1e43.5a1cd","type":"modbus-flex-write","z":"3d6e2e74.2e2b42","name":"","showStatusActivities":false,"showErrors":false,"server":"adf4b4e6.55ca88","x":1930,"y":1860,"wires":[[],[]]},{"id":"d65184fb.54d728","type":"debug","z":"3d6e2e74.2e2b42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1890,"y":1800,"wires":[]},{"id":"c53a5898.e7d2e8","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload = { \n    'fc': 6,\n    'value': 0,\n    'unitid': 254,\n    'address': 656,\n    'quantity': 1\n    };\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":1880,"wires":[["5f3d1e43.5a1cd","f36fb5c0.155088"]]},{"id":"f36fb5c0.155088","type":"debug","z":"3d6e2e74.2e2b42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1890,"y":1920,"wires":[]},{"id":"df4075d2.4bc6b8","type":"inject","z":"3d6e2e74.2e2b42","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1330,"y":1120,"wires":[["677e5d3c.a36ff4"]]},{"id":"f6db37b5.f2e7c8","type":"comment","z":"3d6e2e74.2e2b42","name":"Night/Away - Day/Home","info":"","x":1520,"y":1580,"wires":[]},{"id":"ef6db78d.fe5478","type":"comment","z":"3d6e2e74.2e2b42","name":"Enable/Disable Schedule","info":"","x":1530,"y":1780,"wires":[]},{"id":"50e50c93.561b84","type":"comment","z":"3d6e2e74.2e2b42","name":"Scheduling","info":"","x":1560,"y":2240,"wires":[]},{"id":"5918d7cd.c74d28","type":"inject","z":"3d6e2e74.2e2b42","name":"set_12","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1470,"y":2040,"wires":[["a04c6a2c.c52de8"]]},{"id":"ef665bcd.47a298","type":"inject","z":"3d6e2e74.2e2b42","name":"set_24","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1470,"y":2080,"wires":[["675418f6.fa4198"]]},{"id":"a04c6a2c.c52de8","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload = { \n    'fc': 6,\n    'value': 0,\n    'unitid': 254,\n    'address': 118,\n    'quantity': 1\n    };\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":2040,"wires":[["e3ed7559.aad888","ff89a978.51a618"]]},{"id":"e3ed7559.aad888","type":"modbus-flex-write","z":"3d6e2e74.2e2b42","name":"","showStatusActivities":false,"showErrors":false,"server":"adf4b4e6.55ca88","x":1930,"y":2060,"wires":[[],[]]},{"id":"ff89a978.51a618","type":"debug","z":"3d6e2e74.2e2b42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1890,"y":2000,"wires":[]},{"id":"675418f6.fa4198","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload = { \n    'fc': 6,\n    'value': 1,\n    'unitid': 254,\n    'address': 118,\n    'quantity': 1\n    };\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":2080,"wires":[["e3ed7559.aad888","57ab9d9f.951524"]]},{"id":"57ab9d9f.951524","type":"debug","z":"3d6e2e74.2e2b42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1890,"y":2120,"wires":[]},{"id":"6382c4a7.97307c","type":"comment","z":"3d6e2e74.2e2b42","name":"12/24 hour mode","info":"","x":1500,"y":1980,"wires":[]},{"id":"b06cc4f0.2a13a8","type":"ui_text_input","z":"3d6e2e74.2e2b42","name":"","label":"Event time:","tooltip":"","group":"172b5b28.f45285","order":5,"width":4,"height":1,"passthru":true,"mode":"time","delay":"0","topic":"","x":1670,"y":2300,"wires":[["64f2da42.62bd54"]]},{"id":"64f2da42.62bd54","type":"moment","z":"3d6e2e74.2e2b42","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Europe/London","adjAmount":"8","adjType":"hours","adjDir":"subtract","format":"HH:mm","locale":"en_US","output":"payload","outputType":"msg","outTz":"Asia/Hong_Kong","x":1860,"y":2300,"wires":[["64aa22d1.e6d56c"]]},{"id":"64aa22d1.e6d56c","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"var str1 = msg.payload;\n// var seperator = \":\";\n// var string1 = str1.split(seperator);\n// var hr1 = string1[0];\n// var hrs1 = parseInt(hr1, 10);\n// var mn1 = string1[1];\n// var mns1 = parseInt(mn1, 10);\n// var hr_min = (hrs1 + \":\" + mns1)\nflow.set(\"tmpTime\", str1);","outputs":1,"noerr":0,"x":2030,"y":2300,"wires":[[]]},{"id":"528903ba.bceb0c","type":"ui_dropdown","z":"3d6e2e74.2e2b42","name":"mon_mode","label":"","tooltip":"","place":"Mode","group":"172b5b28.f45285","order":12,"width":2,"height":1,"passthru":true,"options":[{"label":"Home","value":1,"type":"num"},{"label":"Work","value":2,"type":"num"}],"payload":"","topic":"event_mode","x":1870,"y":2660,"wires":[["b4018081.b9f8a"]]},{"id":"b4018081.b9f8a","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"flow.set(\"tmpMonMode\", msg.payload);","outputs":1,"noerr":0,"x":2010,"y":2660,"wires":[[]]},{"id":"da929681.0eb598","type":"ui_table","z":"3d6e2e74.2e2b42","group":"1232c9b7.0dc026","name":"","order":1,"width":28,"height":6,"columns":[{"field":"idnum","title":"ID","width":"","align":"center","formatter":"rownum","formatterParams":{"target":"_blank"}},{"field":"timeval","title":"Time","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"monmode","title":"Monday","width":"","align":"center","formatter":"html","formatterParams":{"target":"_blank"}},{"field":"tuemode","title":"Tuesday","width":"","align":"center","formatter":"html","formatterParams":{"target":"_blank"}},{"field":"wedmode","title":"Wednesday","width":"","align":"center","formatter":"html","formatterParams":{"target":"_blank"}},{"field":"thumode","title":"Thursday","width":"","align":"center","formatter":"html","formatterParams":{"target":"_blank"}},{"field":"frimode","title":"Friday","width":"","align":"center","formatter":"html","formatterParams":{"target":"_blank"}},{"field":"satmode","title":"Saturday","width":"","align":"center","formatter":"html","formatterParams":{"target":"_blank"}},{"field":"sunmode","title":"Sunday","width":"","align":"center","formatter":"html","formatterParams":{"target":"_blank"}},{"field":"holmode","title":"Holiday","width":"","align":"center","formatter":"html","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":2210,"y":2600,"wires":[["5e16910.491d37","de7da944.706c38"]]},{"id":"367cfa94.8f6d76","type":"ui_button","z":"3d6e2e74.2e2b42","name":"","group":"172b5b28.f45285","order":10,"width":4,"height":1,"passthru":false,"label":"Add Event","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1860,"y":2260,"wires":[["48080c24.fc1d54"]]},{"id":"fc0e2a3a.34ce98","type":"ui_switch","z":"3d6e2e74.2e2b42","name":"","label":"Mon","tooltip":"","group":"172b5b28.f45285","order":11,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"mon_switch","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1890,"y":2340,"wires":[["7d44c89f.6a5d48"]]},{"id":"5ffcbee9.d0a19","type":"ui_switch","z":"3d6e2e74.2e2b42","name":"","label":"Tue","tooltip":"","group":"172b5b28.f45285","order":16,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"tue_switch","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1890,"y":2380,"wires":[["44dea9fe.2c8d48"]]},{"id":"c4aa3cce.ed49a","type":"ui_switch","z":"3d6e2e74.2e2b42","name":"","label":"Wed","tooltip":"","group":"172b5b28.f45285","order":21,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"wed_switch","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1890,"y":2420,"wires":[["f3ec6394.f84ff"]]},{"id":"5df3118d.edc95","type":"ui_switch","z":"3d6e2e74.2e2b42","name":"","label":"Thu","tooltip":"","group":"172b5b28.f45285","order":25,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"thu_switch","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1890,"y":2460,"wires":[["6600563.9ec94a8"]]},{"id":"9a8dda08.0eea18","type":"ui_switch","z":"3d6e2e74.2e2b42","name":"","label":"Fri","tooltip":"","group":"172b5b28.f45285","order":29,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"fri_switch","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1890,"y":2500,"wires":[["c2545a6f.ee3858"]]},{"id":"ebb43259.a9806","type":"ui_switch","z":"3d6e2e74.2e2b42","name":"","label":"Sat","tooltip":"","group":"172b5b28.f45285","order":33,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"sat_switch","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1890,"y":2540,"wires":[["7ab62d7d.896a84"]]},{"id":"f5158908.639e58","type":"ui_switch","z":"3d6e2e74.2e2b42","name":"","label":"Sun","tooltip":"","group":"172b5b28.f45285","order":37,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"sun_switch","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1890,"y":2580,"wires":[["725de796.0d3be8"]]},{"id":"c72289b3.3f5888","type":"ui_switch","z":"3d6e2e74.2e2b42","name":"","label":"Hol","tooltip":"","group":"172b5b28.f45285","order":41,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"hol_switch","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1890,"y":2620,"wires":[["493d4e84.63c2b"]]},{"id":"7d44c89f.6a5d48","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"flow.set(\"tmpMonOnOff\", msg.payload);","outputs":1,"noerr":0,"x":2010,"y":2340,"wires":[[]]},{"id":"44dea9fe.2c8d48","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"flow.set(\"tmpTueOnOff\", msg.payload);","outputs":1,"noerr":0,"x":2010,"y":2380,"wires":[[]]},{"id":"f3ec6394.f84ff","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"flow.set(\"tmpWedOnOff\", msg.payload);","outputs":1,"noerr":0,"x":2010,"y":2420,"wires":[[]]},{"id":"6600563.9ec94a8","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"flow.set(\"tmpThuOnOff\", msg.payload);","outputs":1,"noerr":0,"x":2010,"y":2460,"wires":[[]]},{"id":"c2545a6f.ee3858","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"flow.set(\"tmpFriOnOff\", msg.payload);","outputs":1,"noerr":0,"x":2010,"y":2500,"wires":[[]]},{"id":"7ab62d7d.896a84","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"flow.set(\"tmpSatOnOff\", msg.payload);","outputs":1,"noerr":0,"x":2010,"y":2540,"wires":[[]]},{"id":"725de796.0d3be8","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"flow.set(\"tmpSunOnOff\", msg.payload);","outputs":1,"noerr":0,"x":2010,"y":2580,"wires":[[]]},{"id":"493d4e84.63c2b","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"flow.set(\"tmpHolOnOff\", msg.payload);","outputs":1,"noerr":0,"x":2010,"y":2620,"wires":[[]]},{"id":"64a17cc0.1eee94","type":"ui_button","z":"3d6e2e74.2e2b42","name":"","group":"172b5b28.f45285","order":15,"width":4,"height":1,"passthru":true,"label":"Reset Time/Day/Mode","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":1420,"y":2600,"wires":[["f58879b0.333238","9c4e49aa.998738","d9397afc.d98328"]]},{"id":"f58879b0.333238","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"flow.set(\"toggleMode\", false);\nmsg.payload=false;\nreturn msg;","outputs":1,"noerr":0,"x":1690,"y":2520,"wires":[["fc0e2a3a.34ce98","5ffcbee9.d0a19","c4aa3cce.ed49a","5df3118d.edc95","9a8dda08.0eea18","ebb43259.a9806","f5158908.639e58","c72289b3.3f5888"]]},{"id":"bcdcfe5c.2e8af","type":"inject","z":"3d6e2e74.2e2b42","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"3","x":1350,"y":2680,"wires":[[]]},{"id":"9c4e49aa.998738","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":2320,"wires":[["b06cc4f0.2a13a8"]]},{"id":"1aa95075.5d468","type":"ui_text","z":"3d6e2e74.2e2b42","group":"172b5b28.f45285","order":2,"width":8,"height":1,"name":"","label":"Insert Event","format":"{{msg.payload}}","layout":"row-center","x":1890,"y":2220,"wires":[]},{"id":"55919aca.396d34","type":"ui_button","z":"3d6e2e74.2e2b42","name":"","group":"172b5b28.f45285","order":20,"width":4,"height":1,"passthru":false,"label":"Clear All Schedules","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":1850,"y":2980,"wires":[["b6e967f2.b757b8"]]},{"id":"b6e967f2.b757b8","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload={\n    command:\"clearData\",\n    arguments: [],\n    returnPromise: true\n}\nreturn msg;","outputs":1,"noerr":0,"x":2010,"y":2980,"wires":[["da929681.0eb598","de7da944.706c38"]]},{"id":"75dc552d.d3d6ac","type":"ui_dropdown","z":"3d6e2e74.2e2b42","name":"tue_mode","label":"","tooltip":"","place":"Mode","group":"172b5b28.f45285","order":17,"width":2,"height":1,"passthru":true,"options":[{"label":"Home","value":1,"type":"num"},{"label":"Work","value":2,"type":"num"}],"payload":"","topic":"event_mode","x":1880,"y":2700,"wires":[["aa32b6d2.659858"]]},{"id":"aa32b6d2.659858","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"flow.set(\"tmpTueMode\", msg.payload);","outputs":1,"noerr":0,"x":2010,"y":2700,"wires":[[]]},{"id":"f4c16e56.6b037","type":"ui_dropdown","z":"3d6e2e74.2e2b42","name":"wed_mode","label":"","tooltip":"","place":"Mode","group":"172b5b28.f45285","order":22,"width":2,"height":1,"passthru":true,"options":[{"label":"Home","value":1,"type":"num"},{"label":"Work","value":2,"type":"num"}],"payload":"","topic":"event_mode","x":1870,"y":2740,"wires":[["b7bfadd2.e0f47"]]},{"id":"b7bfadd2.e0f47","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"flow.set(\"tmpWedMode\", msg.payload);","outputs":1,"noerr":0,"x":2010,"y":2740,"wires":[[]]},{"id":"6d21aa5d.516ee4","type":"ui_dropdown","z":"3d6e2e74.2e2b42","name":"thu_mode","label":"","tooltip":"","place":"Mode","group":"172b5b28.f45285","order":26,"width":2,"height":1,"passthru":true,"options":[{"label":"Home","value":1,"type":"num"},{"label":"Work","value":2,"type":"num"}],"payload":"","topic":"event_mode","x":1880,"y":2780,"wires":[["756e7b60.6ab484"]]},{"id":"756e7b60.6ab484","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"flow.set(\"tmpThuMode\", msg.payload);","outputs":1,"noerr":0,"x":2010,"y":2780,"wires":[[]]},{"id":"eb9c05e7.bc15a8","type":"ui_dropdown","z":"3d6e2e74.2e2b42","name":"fri_mode","label":"","tooltip":"","place":"Mode","group":"172b5b28.f45285","order":30,"width":2,"height":1,"passthru":true,"options":[{"label":"Home","value":1,"type":"num"},{"label":"Work","value":2,"type":"num"}],"payload":"","topic":"event_mode","x":1880,"y":2820,"wires":[["e7a206f2.b8cc08"]]},{"id":"e7a206f2.b8cc08","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"flow.set(\"tmpFriMode\", msg.payload);","outputs":1,"noerr":0,"x":2010,"y":2820,"wires":[[]]},{"id":"6cf026c2.2f57b8","type":"ui_dropdown","z":"3d6e2e74.2e2b42","name":"sat_mode","label":"","tooltip":"","place":"Mode","group":"172b5b28.f45285","order":34,"width":2,"height":1,"passthru":true,"options":[{"label":"Home","value":1,"type":"num"},{"label":"Work","value":2,"type":"num"}],"payload":"","topic":"event_mode","x":1880,"y":2860,"wires":[["7c3a15ef.54a6bc"]]},{"id":"7c3a15ef.54a6bc","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"flow.set(\"tmpSatMode\", msg.payload);","outputs":1,"noerr":0,"x":2010,"y":2860,"wires":[[]]},{"id":"81b03f23.7258a","type":"ui_dropdown","z":"3d6e2e74.2e2b42","name":"sun_mode","label":"","tooltip":"","place":"Mode","group":"172b5b28.f45285","order":38,"width":2,"height":1,"passthru":true,"options":[{"label":"Home","value":1,"type":"num"},{"label":"Work","value":2,"type":"num"}],"payload":"","topic":"event_mode","x":1880,"y":2900,"wires":[["3b6eed8e.8e0452"]]},{"id":"3b6eed8e.8e0452","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"flow.set(\"tmpSunMode\", msg.payload);","outputs":1,"noerr":0,"x":2010,"y":2900,"wires":[[]]},{"id":"b8f65c04.98b13","type":"ui_dropdown","z":"3d6e2e74.2e2b42","name":"hol_mode","label":"","tooltip":"","place":"Mode","group":"172b5b28.f45285","order":42,"width":2,"height":1,"passthru":true,"options":[{"label":"Home","value":1,"type":"num"},{"label":"Work","value":2,"type":"num"}],"payload":"","topic":"event_mode","x":1880,"y":2940,"wires":[["3ab00b73.174624"]]},{"id":"3ab00b73.174624","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"flow.set(\"tmpHolMode\", msg.payload);","outputs":1,"noerr":0,"x":2010,"y":2940,"wires":[[]]},{"id":"5e16910.491d37","type":"debug","z":"3d6e2e74.2e2b42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2350,"y":2600,"wires":[]},{"id":"4bc86e1a.78c54","type":"ui_ui_control","z":"3d6e2e74.2e2b42","name":"","events":"all","x":2180,"y":2660,"wires":[["de7da944.706c38"]]},{"id":"de7da944.706c38","type":"function","z":"3d6e2e74.2e2b42","name":"table recorder","func":"var status = {fill:\"red\",shape:\"ring\",text:\"an error occured\"};\nvar success = (msg.topic && msg.topic===\"success\") || false;\nvar tableData = flow.get(\"tableData\");\nif (tableData === undefined) {\n    tableData = [];\n    flow.set(\"tableData\",tableData);\n}\n\n// find the index for a row in tableData for a given index (id)\nfunction checkIndex(id) {\n    let matchRow=-1\n    tableData.forEach(function (row,index){\n        if (row.id === id){\n            matchRow=index;\n            return matchRow;\n        }\n    })\n    return matchRow;\n}\n\n// flat merge one row \nfunction mergeRow(dest,source) {\n    Object.keys(source).forEach(function(key) {\n        dest[key]=source[key];\n    })\n}\n\n//merge or add one or many rows into tableData \nfunction mergeData(newData,toTop) {\n    newData.forEach(function (item,index) {\n//        node.warn([\"findIndex\",item]);\n        let row=checkIndex(item.id);\n        if (row<0) { // row do not existst in tableData\n            if (toTop) {\n                tableData.push(item);\n                status.text+=\"newRow @ top\";\n            } else {\n                tableData.unshift(item);\n                status.text+=\"newRow @ bottom\";\n            }\n            return;\n        } else { // row exists so update\n            mergeRow(tableData[row],item);\n            status.text+=\"row updated\";\n            return;\n        }\n        if (status.text!==\"\") node.status(status);\n    });\n}\n\nswitch (typeof msg.payload){\n    case \"string\":\n//        node.warn([\"[table recorder] \",(typeof msg.payload),msg.payload]);\n        switch (msg.payload){\n            case \"change\":\n                status={fill:\"green\",shape:\"dot\",text:\"table restored \"+tableData.length+\" rows\"};\n                msg.payload=tableData;\n                break;\n        }\n        break;\n    case \"object\":\n//        node.warn([\"[table recorder] \",(typeof msg.payload),msg.payload]);\n        if (Array.isArray(msg.payload)) { // replace all tableData\n            status={fill:\"green\",shape:\"dot\",text:\"table replaced \"+msg.payload.length+\" rows\"};\n            tableData=RED.util.cloneMessage(msg.payload); \n        } else {\n            switch (msg.payload.command) { // clearData does not return a promise!\n                case \"clearData\":\n                    status={fill:\"green\",shape:\"dot\",text:\"clearData: done\"};\n                    tableData=[];\n                    flow.set(\"lastId\",0);\n                    break;                \n            }\n        }\n        break;\n    default: // likely a msg fom a ui-table command or callback\n        if (msg.hasOwnProperty(\"topic\")&&\n            msg.hasOwnProperty(\"ui_control\") && \n            msg.ui_control.hasOwnProperty(\"callback\") &&\n            msg.hasOwnProperty(\"return\")) { // message originates from a ui-table callback\n            if (success) {\n                switch(msg.return.command) {\n                    case \"addRow\":\n                        status.text=\"addRow: \";\n                        mergeData(msg.return.arguments[0],msg.return.arguments[1]);\n                        status.shape=\"dot\";\n                        break;\n                    case \"updateOrAddData\":\n                        status.text=\"updateOrAddData: \";\n                        mergeData(msg.return.arguments[0]);\n                        break;\n                    case \"deleteRow\":\n                        let row=checkIndex(msg.return.arguments[0]);\n                        tableData.splice(row,1);\n                        status.shape=\"dot\";\n                        status.text=\"deleteRow: \"+row+\" deleted\";\n                        break;\n                    default:\n                        status={fill:\"yellow\",shape:\"dot\",text:msg.return.command + \" unknown!\"};\n                        break;         \n                }\n            } else {\n                status.text=msg.topic+\" \"+msg.error;\n            }\n        }\n        break;\n}\nif (success) status.fill=\"green\";\nflow.set(\"tableData\",tableData);\nnode.status(status);\nreturn msg;","outputs":1,"noerr":0,"x":2390,"y":2660,"wires":[["da929681.0eb598"]]},{"id":"48cba2ea.03e1bc","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"var timeSet=flow.get(\"tmpTime\") || 0;\nvar monEn=flow.get(\"tmpMonOnOff\") || false;\nvar tueEn=flow.get(\"tmpTueOnOff\") || false;\nvar wedEn=flow.get(\"tmpWedOnOff\") || false;\nvar thuEn=flow.get(\"tmpThuOnOff\") || false;\nvar friEn=flow.get(\"tmpFriOnOff\") || false;\nvar satEn=flow.get(\"tmpSatOnOff\") || false;\nvar sunEn=flow.get(\"tmpSunOnOff\") || false;\nvar holEn=flow.get(\"tmpHolOnOff\") || false;\nvar monMode=flow.get(\"tmpMonMode\") || 0;\nvar tueMode=flow.get(\"tmpTueMode\") || 0;\nvar wedMode=flow.get(\"tmpWedMode\") || 0;\nvar thuMode=flow.get(\"tmpThuMode\") || 0;\nvar friMode=flow.get(\"tmpFriMode\") || 0;\nvar satMode=flow.get(\"tmpSatMode\") || 0;\nvar sunMode=flow.get(\"tmpSunMode\") || 0;\nvar holMode=flow.get(\"tmpHolMode\") || 0;\nvar Monmode;\nvar Tuemode;\nvar Wedmode;\nvar Thumode;\nvar Frimode;\nvar Satmode;\nvar Sunmode;\nvar Holmode;\nif (monEn===true){\n    if (monMode==1){\n        Monmode=\"Home\";\n    } else if (monMode==2){\n        Monmode=\"Work\";\n    }\n}\nif (tueEn===true){\n    if (tueMode==1){\n        Tuemode=\"Home\";\n    } else if (tueMode==2){\n        Tuemode=\"Work\";\n    }\n}\nif (wedEn===true){\n    if (wedMode==1){\n        Wedmode=\"Home\";\n    } else if (wedMode==2){\n        Wedmode=\"Work\";\n    }\n}\nif (thuEn===true){\n    if (thuMode==1){\n        Thumode=\"Home\";\n    } else if (thuMode==2){\n        Thumode=\"Work\";\n    }\n}\nif (friEn===true){\n    if (friMode==1){\n        Frimode=\"Home\";\n    } else if (friMode==2){\n        Frimode=\"Work\";\n    }\n}\nif (satEn===true){\n    if (satMode==1){\n        Satmode=\"Home\";\n    } else if (satMode==2){\n        Satmode=\"Work\";\n    }\n}\nif (sunEn===true){\n    if (sunMode==1){\n        Sunmode=\"Home\";\n    } else if (sunMode==2){\n        Sunmode=\"Work\";\n    }\n}\nif (holEn===true){\n    if (holMode==1){\n        Holmode=\"Home\";\n    } else if (holMode==2){\n        Holmode=\"Work\";\n    }\n}\nvar id=flow.get(\"lastId\") || 0;\n++id;\nmsg.payload={\n    command:\"addRow\",\n    arguments: [\n        [\n            {\n            \"id\":id,\n            \"timeval\":timeSet,\n            \"monmode\":Monmode,\n            \"tuemode\":Tuemode,\n            \"wedmode\":Wedmode,\n            \"thumode\":Thumode,\n            \"frimode\":Frimode,\n            \"satmode\":Satmode,\n            \"sunmode\":Sunmode,\n            \"holmode\":Holmode\n            }\n        ],\n        false\n    ],\n    returnPromise: true\n}\nflow.set(\"lastId\",id);\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":1940,"wires":[[]]},{"id":"a9808367.6b98b","type":"delay","z":"3d6e2e74.2e2b42","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1380,"y":2440,"wires":[["64a17cc0.1eee94"]]},{"id":"d9397afc.d98328","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":2700,"wires":[["528903ba.bceb0c","75dc552d.d3d6ac","f4c16e56.6b037","6d21aa5d.516ee4","eb9c05e7.bc15a8","6cf026c2.2f57b8","81b03f23.7258a","b8f65c04.98b13","a9bbb303.346a5"]]},{"id":"51a1cf50.63529","type":"ui_button","z":"3d6e2e74.2e2b42","name":"","group":"172b5b28.f45285","order":6,"width":2,"height":1,"passthru":false,"label":"Toggle","tooltip":"Toggle All On/Off","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1570,"y":2420,"wires":[["c0de696e.428a58"]]},{"id":"c0de696e.428a58","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"var curOnOff=flow.get(\"toggleMode\") || false;\nvar setOnOff\n    if (curOnOff===false){\n        setOnOff=true;\n    } else if (curOnOff===true){\n        setOnOff=false;\n    }\nflow.set(\"toggleMode\", setOnOff);\nmsg.payload=setOnOff;\nreturn msg;","outputs":1,"noerr":0,"x":1690,"y":2460,"wires":[["fc0e2a3a.34ce98","5ffcbee9.d0a19","c4aa3cce.ed49a","5df3118d.edc95","9a8dda08.0eea18","ebb43259.a9806","f5158908.639e58","c72289b3.3f5888"]]},{"id":"a9bbb303.346a5","type":"ui_dropdown","z":"3d6e2e74.2e2b42","name":"set_all","label":"","tooltip":"Set All Modes","place":"Set All","group":"172b5b28.f45285","order":7,"width":2,"height":1,"passthru":true,"options":[{"label":"Home","value":"1","type":"str"},{"label":"Work","value":"2","type":"str"}],"payload":"","topic":"","x":1570,"y":2840,"wires":[["528903ba.bceb0c","75dc552d.d3d6ac","f4c16e56.6b037","6d21aa5d.516ee4","eb9c05e7.bc15a8","6cf026c2.2f57b8","81b03f23.7258a","b8f65c04.98b13"]]},{"id":"827c7db3.e3dbc","type":"change","z":"3d6e2e74.2e2b42","name":"","rules":[{"t":"delete","p":"tmpMonOnOff","pt":"flow"},{"t":"delete","p":"tmpTueOnOff","pt":"flow"},{"t":"delete","p":"tmpWedOnOff","pt":"flow"},{"t":"delete","p":"tmpThuOnOff","pt":"flow"},{"t":"delete","p":"tmpFriOnOff","pt":"flow"},{"t":"delete","p":"tmpSatOnOff","pt":"flow"},{"t":"delete","p":"tmpSunOnOff","pt":"flow"},{"t":"delete","p":"tmpHolOnOff","pt":"flow"},{"t":"delete","p":"tmpMonMode","pt":"flow"},{"t":"delete","p":"tmpTueMode","pt":"flow"},{"t":"delete","p":"tmpWedMode","pt":"flow"},{"t":"delete","p":"tmpThuMode","pt":"flow"},{"t":"delete","p":"tmpFriMode","pt":"flow"},{"t":"delete","p":"tmpSatMode","pt":"flow"},{"t":"delete","p":"tmpSunMode","pt":"flow"},{"t":"delete","p":"tmpHolMode","pt":"flow"},{"t":"delete","p":"tmpTime","pt":"flow"},{"t":"delete","p":"toggleMode","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2480,"y":1980,"wires":[[]]},{"id":"22b0106e.f44a2","type":"inject","z":"3d6e2e74.2e2b42","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2300,"y":1980,"wires":[["827c7db3.e3dbc"]]},{"id":"48080c24.fc1d54","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"var timeSet=flow.get(\"tmpTime\") || null;\nvar monEn=flow.get(\"tmpMonOnOff\") || null;\nvar tueEn=flow.get(\"tmpTueOnOff\") || null;\nvar wedEn=flow.get(\"tmpWedOnOff\") || null;\nvar thuEn=flow.get(\"tmpThuOnOff\") || null;\nvar friEn=flow.get(\"tmpFriOnOff\") || null;\nvar satEn=flow.get(\"tmpSatOnOff\") || null;\nvar sunEn=flow.get(\"tmpSunOnOff\") || null;\nvar holEn=flow.get(\"tmpHolOnOff\") || null;\nvar monMode=flow.get(\"tmpMonMode\") || 0;\nvar tueMode=flow.get(\"tmpTueMode\") || 0;\nvar wedMode=flow.get(\"tmpWedMode\") || 0;\nvar thuMode=flow.get(\"tmpThuMode\") || 0;\nvar friMode=flow.get(\"tmpFriMode\") || 0;\nvar satMode=flow.get(\"tmpSatMode\") || 0;\nvar sunMode=flow.get(\"tmpSunMode\") || 0;\nvar holMode=flow.get(\"tmpHolMode\") || 0;\nvar Monmode;\nvar Tuemode;\nvar Wedmode;\nvar Thumode;\nvar Frimode;\nvar Satmode;\nvar Sunmode;\nvar Holmode;\nif (timeSet===null){\n    msg.payload=\"Please enter a time for the Event!\";\n    msg.topic=\"Schedule Error!\";\n    return [ msg, null ];\n}\nif (monMode>0 && monEn===null || monMode===0 && monEn!==null){\n    msg.payload=\"Problem with Monday Schedule!\";\n    msg.topic=\"Schedule Error!\";\n    return [ msg, null ];\n}\nif (tueMode>0 && tueEn===null || tueMode===0 && tueEn!==null){\n    msg.payload=\"Problem with Tuesday Schedule!\";\n    msg.topic=\"Schedule Error!\";\n    return [ msg, null ];\n}\nif (wedMode>0 && wedEn===null || wedMode===0 && wedEn!==null){\n    msg.payload=\"Problem with Wednesday Schedule!\";\n    msg.topic=\"Schedule Error!\";\n    return [ msg, null ];\n}\nif (thuMode>0 && thuEn===null || thuMode===0 && thuEn!==null){\n    msg.payload=\"Problem with Thursday Schedule!\";\n    msg.topic=\"Schedule Error!\";\n    return [ msg, null ];\n}\nif (friMode>0 && friEn===null || friMode===0 && friEn!==null){\n    msg.payload=\"Problem with Friday Schedule!\";\n    msg.topic=\"Schedule Error!\";\n    return [ msg, null ];\n}\nif (satMode>0 && satEn===null || satMode===0 && satEn!==null){\n    msg.payload=\"Problem with Saturday Schedule!\";\n    msg.topic=\"Schedule Error!\";\n    return [ msg, null ];\n}\nif (sunMode>0 && sunEn===null || sunMode===0 && sunEn!==null){\n    msg.payload=\"Problem with Sunday Schedule!\";\n    msg.topic=\"Schedule Error!\";\n    return [ msg, null ];\n}\nif (holMode>0 && holEn===null || holMode===0 && holEn!==null){\n    msg.payload=\"Problem with Holiday Schedule!\";\n    msg.topic=\"Schedule Error!\";\n    return [ msg, null ];\n}\nif (monEn===true){\n    if (monMode==1){\n        Monmode=\"Home\";\n    } else if (monMode==2){\n        Monmode=\"Work\";\n    }\n}\nif (tueEn===true){\n    if (tueMode==1){\n        Tuemode=\"Home\";\n    } else if (tueMode==2){\n        Tuemode=\"Work\";\n    }\n}\nif (wedEn===true){\n    if (wedMode==1){\n        Wedmode=\"Home\";\n    } else if (wedMode==2){\n        Wedmode=\"Work\";\n    }\n}\nif (thuEn===true){\n    if (thuMode==1){\n        Thumode=\"Home\";\n    } else if (thuMode==2){\n        Thumode=\"Work\";\n    }\n}\nif (friEn===true){\n    if (friMode==1){\n        Frimode=\"Home\";\n    } else if (friMode==2){\n        Frimode=\"Work\";\n    }\n}\nif (satEn===true){\n    if (satMode==1){\n        Satmode=\"Home\";\n    } else if (satMode==2){\n        Satmode=\"Work\";\n    }\n}\nif (sunEn===true){\n    if (sunMode==1){\n        Sunmode=\"Home\";\n    } else if (sunMode==2){\n        Sunmode=\"Work\";\n    }\n}\nif (holEn===true){\n    if (holMode==1){\n        Holmode=\"Home\";\n    } else if (holMode==2){\n        Holmode=\"Work\";\n    }\n}\nvar id=flow.get(\"lastId\") || 0;\n++id;\nmsg.payload={\n    command:\"addRow\",\n    arguments: [\n        [\n            {\n            \"id\":id,\n            \"timeval\":timeSet,\n            \"monmode\":Monmode,\n            \"tuemode\":Tuemode,\n            \"wedmode\":Wedmode,\n            \"thumode\":Thumode,\n            \"frimode\":Frimode,\n            \"satmode\":Satmode,\n            \"sunmode\":Sunmode,\n            \"holmode\":Holmode\n            }\n        ],\n        false\n    ],\n    returnPromise: true\n}\nflow.set(\"lastId\",id);\nreturn [ null, msg ];","outputs":2,"noerr":0,"x":2110,"y":2260,"wires":[["17e1106.ccd9bf"],["da929681.0eb598","a9808367.6b98b"]]},{"id":"17e1106.ccd9bf","type":"ui_toast","z":"3d6e2e74.2e2b42","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"Go Back","cancel":"","raw":false,"topic":"","name":"Schedule Error","x":2300,"y":2260,"wires":[[]]},{"id":"210dfad2.b4c0d6","type":"function","z":"3d6e2e74.2e2b42","name":"","func":"//only accept OK msg's\nif (msg.payload == 'OK') {\n    msg.payload = \"Stop\";\n    node.send(msg);\n}\nreturn null;","outputs":1,"noerr":0,"x":2360,"y":1940,"wires":[["c95a5174.df016"]]},{"id":"c95a5174.df016","type":"debug","z":"3d6e2e74.2e2b42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2510,"y":1940,"wires":[]},{"id":"adf4b4e6.55ca88","type":"modbus-client","z":"","name":"Modbus Connection","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.1.20","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU","serialBaudrate":"115200","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":254,"commandDelay":1,"clientTimeout":2000,"reconnectOnTimeout":false,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"44ca6ba9.5ca844","type":"ui_group","z":"","name":"Room1","tab":"2a45311f.c6b9de","order":1,"disp":false,"width":5,"collapse":false},{"id":"d63a307e.32fd4","type":"ui_group","z":"","name":"Room2","tab":"2a45311f.c6b9de","order":2,"disp":false,"width":5,"collapse":false},{"id":"cfff10ba.4e053","type":"ui_group","z":"","name":"Room3","tab":"2a45311f.c6b9de","order":3,"disp":false,"width":5,"collapse":false},{"id":"78fa92c3.06830c","type":"ui_group","z":"","name":"Room4","tab":"2a45311f.c6b9de","order":4,"disp":false,"width":5,"collapse":false},{"id":"84064e66.8328b","type":"ui_group","z":"","name":"Room5","tab":"2a45311f.c6b9de","order":5,"disp":false,"width":5,"collapse":false},{"id":"a8c5fca8.c9f6a","type":"ui_group","z":"","name":"Room6","tab":"2a45311f.c6b9de","order":6,"disp":false,"width":5,"collapse":false},{"id":"fead33a4.de811","type":"ui_group","z":"","name":"Room Setup","tab":"2ee1a22d.fdabbe","order":1,"disp":true,"width":4,"collapse":false},{"id":"384d0add.1390a6","type":"ui_group","z":"","name":"Room-1","tab":"2ee1a22d.fdabbe","order":2,"disp":true,"width":4,"collapse":false},{"id":"405d830e.3b548c","type":"ui_group","z":"","name":"Room-2","tab":"2ee1a22d.fdabbe","order":3,"disp":true,"width":4,"collapse":false},{"id":"6bb38027.dab85","type":"ui_group","z":"","name":"Room-3","tab":"2ee1a22d.fdabbe","order":4,"disp":true,"width":4,"collapse":false},{"id":"c3c87bd0.8911a8","type":"ui_group","z":"","name":"Room-4","tab":"2ee1a22d.fdabbe","order":5,"disp":true,"width":4,"collapse":false},{"id":"d15406f2.8dfe08","type":"ui_group","z":"","name":"Room-5","tab":"2ee1a22d.fdabbe","order":6,"disp":true,"width":4,"collapse":false},{"id":"51e02687.a6c588","type":"ui_group","z":"","name":"Room-6","tab":"2ee1a22d.fdabbe","order":7,"disp":true,"width":"4","collapse":false},{"id":"432a5187.f9392","type":"ui_group","z":"","name":"Home/Occupied Setpoints","tab":"4bd1c69f.9ede18","order":1,"disp":true,"width":"12","collapse":false},{"id":"727ca2c.d440e5c","type":"ui_group","z":"","name":"Day Setpoint Registers","tab":"2ee1a22d.fdabbe","order":8,"disp":true,"width":"6","collapse":false},{"id":"bc106ff0.7f9c4","type":"ui_group","z":"","name":"Away/Unoccupied Setpoints","tab":"4bd1c69f.9ede18","order":2,"disp":true,"width":"12","collapse":false},{"id":"92b4cc53.73b3a","type":"ui_group","z":"","name":"Night Setpoint Registers","tab":"2ee1a22d.fdabbe","order":9,"disp":true,"width":"6","collapse":false},{"id":"bc9ba4b.ce53758","type":"ui_group","z":"","name":"Misc Registers","tab":"2ee1a22d.fdabbe","order":10,"disp":true,"width":"6","collapse":false},{"id":"88e71e23.ab61e","type":"ui_group","z":"","name":"Info","tab":"2a45311f.c6b9de","order":7,"disp":false,"width":"5","collapse":false},{"id":"172b5b28.f45285","type":"ui_group","z":"","name":"Add Event","tab":"9348f1ed.5e06b","order":3,"disp":false,"width":"28","collapse":false},{"id":"1232c9b7.0dc026","type":"ui_group","z":"","name":"Weekly Routine","tab":"9348f1ed.5e06b","order":1,"disp":true,"width":28,"collapse":false},{"id":"2a45311f.c6b9de","type":"ui_tab","z":"","name":"HomeControl","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"2ee1a22d.fdabbe","type":"ui_tab","z":"","name":"Configuration","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"4bd1c69f.9ede18","type":"ui_tab","z":"","name":"Setpoints","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"9348f1ed.5e06b","type":"ui_tab","z":"","name":"Schedules","icon":"dashboard","order":2,"disabled":false,"hidden":false}]